
/* .terms-main {
  background: url("../../../static/Localisation_App/img/faq1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2100px;
} */
.main-container{
  min-height: 60vh;
}

.as-main-title {
  color: #000000;
  letter-spacing: -0.005em;
  padding: 20px 0; 
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.link {
  text-decoration: none;
  /* color: rgb(14, 95, 119); */
}


