/* For Default Screen Size */


/* Navbar Start */

.quote {
    height: 40px;
    width: 180px;
    background: #ECB471;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #023047;
}

.quote:hover {
    height: 40px;
    width: 180px;
    background: #ECB471;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #023047;
}

.customNav {
    background: #219EBC;
}

.items {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 25px;
    color: #646363;
    text-shadow: 1px 2px 3px rgba(179, 179, 179, 0.46);
}


/* Navbar Ends */


/* Carousel Start */

.carousel-inner-text {
    height: 180px;
    margin-top: 180px;
}

.carousel-title {
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 39px;
    text-align: center;
    /* or 52% */
    letter-spacing: -0.015em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 64px;
    text-align: center;
    /* or 52% */
    letter-spacing: -0.015em;
    color: #ED875C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-caption {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 0px;
    text-align: center;
    /* identical to box height, or 150% */
    letter-spacing: 0.005em;
    color: #000000;
}


/* Carousel Ends */


/* News start */

.customNews {
    margin-top: 30px;
    height: 40px;
    background-color: #F5AE59;
}

.newsclass {
    height: 50px;
    font-size: 25px !important;
}

.marqueeClass {
    margin-top: 1px;
}

.news1 {
    font-weight: 500;
    color: #023047;
    text-decoration: none;
}


/* News end */


/* About Us start */

.aboutUs-Title {
    text-align: center;
    color: #219EBC;
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
}

.aboutUs-para {
    margin-top: 30px;
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
    /* or 210% */
    letter-spacing: -0.02em;
    color: #6B6A6A;
    mix-blend-mode: normal;
    padding: 20px;
}

.aboutus-Button {
    width: 140px;
    height: 49px;
    left: 768px;
    top: 702px;
    background: #ED875C;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}


/* About Us end */


/* Counter Section Start */

.counter {
    margin-left: 300px;
}

.card1 {
    width: 254px;
    height: 178px;
    margin-left: 50px;
    background: #ffffff;
    box-shadow: 3px 2px 5px 1px #DE6881;
    border-radius: 22px;
}

.card2 {
    width: 254px;
    height: 178px;
    margin-left: 50px;
    background: #ffffff;
    box-shadow: 3px 2px 5px 1px #ACDC7A;
    border-radius: 22px;
}

.card3 {
    width: 254px;
    height: 178px;
    margin-left: 60px;
    background: #FFFFFF;
    box-shadow: 3px 2px 5px 1px #EED58E;
    border-radius: 22px;
}

.card4 {
    width: 254px;
    height: 178px;
    margin-left: 60px;
    background: #FFFFFF;
    box-shadow: 3px 2px 5px 1px #8ECAE6;
    border-radius: 22px;
}

.card-title {
    margin-top: 5px;
    margin-left: 60px;
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 48px;
    color: #646363;
}

.card-description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left: 7px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #4E4C4C;
}

.icon {
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFB703;
    margin-left: 80px;
    margin-top: 10px;
}


/* Counter Section End */


/* links start */

.linksContainer {
    width: 100%;
    margin-top: 20px;
    background-color: #EAEAEA;
}


/* links end */


/* Vision start */

.vision {
    width: 100%;
    height: 330px;
    background-color: #023047;
    background-image: url("../img/vision-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.vision-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100px;
    letter-spacing: -0.015em;
    color: #F5AE59;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vision-para {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


/* vision end */


/* Success Stories Section starts*/

.serives-row {
    margin: 20px;
}

.test {
    max-width: 100%;
    height: auto;
}

.card {
    margin-top: 40px;
    border: none;
    width: 750px;
    height: auto;
    box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
}

.card-text {
    height: auto;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.success-title {
    color: rgb(15, 43, 70);
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 30px;
}

.success-link {
    margin-left: 280px;
    height: 40px;
    width: 200px;
    background-color: #ED875C;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    box-shadow: 4px 4px 6px -1px rgba(92, 92, 92, 1);
    border: none;
}

.success-read-more {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    padding-right: 70px;
    margin-top: 30px;
}

.card-header:hover {
    animation: zoom-in-zoom-out 2s ease;
}


/* .card:hover {
      animation: zoom-in-zoom-out 2s ease;
    } */


/* Success Stories Section */

.success-stories {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background: url("../../../static/Localisation_App/img/Capa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.success-header {
    text-align: center;
    color: #023047;
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
    /* 
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 36px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #023047; */
}

@keyframes zoom-in-zoom-out {
    /* 0% {
        transform: scale(1.2, 1.2);
      } */
    100% {
        transform: scale(1.2, 1.2);
    }
    /* 100% {
        transform: scale(1, 1);
      } */
}


/* Success Stories Section Ends */


/* Cost Esitmate Section Start */

.esitimate-cost-img {
    margin-left: 200px;
    margin-top: 50px;
}

.estimate-cost-content {
    /* position: relative; */
    background: url("../../../static/Localisation_App/img/Cost.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.estimate-cost-title {
    margin-top: 150px;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 0.035em;
    color: #023047;
    text-align: center;
}

.estimate-cost-money-img {
    background: url("../../../static/Localisation_App/img/Cost.png");
}

.estimate-cost-button {
    width: 230px;
    height: 55px;
    background-color: #023047;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.38);
    border-radius: 18px;
    text-align: center;
    font-weight: 700;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 350px;
}


/* Cost Esitmate Section Ends */


/* Footer Section Start */

.footer {
    background-color: #023047;
    color: white;
    height: auto;
    padding: 50px;
}

.footer-left {
    border-right: 2px solid #ffffffb5;
    padding-left: 200px;
    /* background-color: red; */
}

.footer-left h3 {
    margin-left: 30px;
}

.footer-center {
    border-right: 2px solid #ffffffb5;
    padding-top: 70px;
    padding-left: 150px;
    /* background-color: rgb(8, 8, 103); */
}

.footer-right {
    /* background-color: rgb(1, 118, 50); */
}

.copyright-section {
    text-align: center;
    font-size: 18px;
}

.footer-gist-section {
    height: 100px;
    width: 100px;
}


/* Footer Section Ends*/


/*FAQ's CSS*/

.faq-main {
    background: url("../../../static/Localisation_App/img/faq1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    margin-bottom: 20px;
}

.faq-Title {
    color: #000000;
    letter-spacing: -0.005em;
    margin: 40px;
    font-size: 40px;
    text-align: center;
}

.general {
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 230px;
    height: 40px;
    background-color: #0A4866;
}

#question {
    color: white;
    padding-top: 3px;
    margin-left: 10px;
}

.section1 {
    margin-top: 10px;
    margin-left: 240px;
    margin-right: 230px;
}

.btn1 {
    background-color: #F1F3F6;
    font-size: 18px;
    text-align: justify;
    color: #023047;
}

.answer1 {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 1640px) {
    .items {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        margin-right: 25px;
        color: #646363;
        text-shadow: 1px 2px 3px rgba(179, 179, 179, 0.46);
    }
    /* About Us section */
    .aboutUs {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
    }
    .aboutUs-Title {
        text-align: center;
        color: #219EBC;
        margin: 20px;
        font-size: 35px;
        font-weight: 700;
    }
    .aboutUs-para {
        margin-top: 30px;
        text-align: justify;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 40px;
        /* or 210% */
        letter-spacing: -0.02em;
        color: #6B6A6A;
        mix-blend-mode: normal;
    }
    .aboutus-Button {
        width: 140px;
        height: 49px;
        left: 768px;
        top: 702px;
        background: #ED875C;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }
    /* About Us end */
    /* Counter Section Start */
    .counter {
        margin-left: 100px;
    }
    .card1 {
        width: 254px;
        height: 178px;
        margin-left: 50px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #DE6881;
        border-radius: 22px;
    }
    .card2 {
        width: 254px;
        height: 178px;
        margin-left: 50px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #ACDC7A;
        border-radius: 22px;
    }
    .card3 {
        width: 254px;
        height: 178px;
        margin-left: 60px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #EED58E;
        border-radius: 22px;
    }
    .card4 {
        width: 254px;
        height: 178px;
        margin-left: 60px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #8ECAE6;
        border-radius: 22px;
    }
    .card-title {
        margin-top: 5px;
        margin-left: 60px;
        font-style: normal;
        font-weight: 550;
        font-size: 32px;
        line-height: 48px;
        color: #646363;
    }
    .card-description {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        margin-left: 7px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #4E4C4C;
    }
    .icon {
        height: 70px;
        width: 70px;
        padding: 10px;
        border-radius: 50px;
        background-color: #FFB703;
        margin-left: 80px;
        margin-top: 10px;
    }
    /* Counter Section End */
    /* Success Stories Section */
    .success-stories {
        padding-top: 30px;
        padding-left: 120px;
        padding-right: 150px;
        background: url("../../../static/Localisation_App/img/Capa.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .success-header {
        text-align: center;
        color: #023047;
        margin: 20px;
        font-size: 35px;
        font-weight: 700;
        /* 
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 36px;
        letter-spacing: 0.005em;
        text-align: center;
        color: #023047; */
    }
    @keyframes zoom-in-zoom-out {
        /* 0% {
            transform: scale(1.2, 1.2);
          } */
        100% {
            transform: scale(1.2, 1.2);
        }
        /* 100% {
            transform: scale(1, 1);
          } */
    }
    .success-title {
        color: rgb(15, 43, 70);
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 30px;
    }
    .success-link {
        margin-left: 280px;
        height: 40px;
        width: 200px;
        background-color: #ED875C;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        box-shadow: 4px 4px 6px -1px rgba(92, 92, 92, 1);
        border: none;
    }
    .success-read-more {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }
    .card-text {
        height: auto;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
    }
    .card {
        margin-top: 40px;
        border: none;
        width: 620px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    /* Success Stories Section Ends */
    /* Cost Esitmate Section Start */
    .esitimate-cost-img {
        margin-left: 200px;
        margin-top: 50px;
        padding-bottom: 30px;
    }
    .estimate-cost-content {
        /* position: relative; */
        background: url("../../../static/Localisation_App/img/Cost.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .estimate-cost-title {
        margin-top: 150px;
        font-weight: 700;
        font-size: 38px;
        line-height: 43px;
        letter-spacing: 0.035em;
        color: #023047;
        text-align: center;
    }
    .estimate-cost-money-img {
        background: url("../../../static/Localisation_App/img/Cost.png");
    }
    .estimate-cost-button {
        width: 230px;
        height: 45px;
        background-color: #023047;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.38);
        border-radius: 18px;
        text-align: center;
        font-weight: 700;
        font-size: 33px;
        line-height: 43px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 250px;
    }
    /* Cost Esitmate Section Ends */
    /* Footer Section Start */
    .footer {
        background-color: #023047;
        color: white;
        height: auto;
        padding: 50px;
    }
    .footer-left {
        border-right: 2px solid #ffffffb5;
        padding-left: 80px;
        /* background-color: red; */
    }
    .footer-left h3 {
        margin-left: 30px;
    }
    .footer-center {
        border-right: 2px solid #ffffffb5;
        padding-top: 70px;
        padding-left: 40px;
        /* background-color: rgb(8, 8, 103); */
    }
    .footer-right {
        /* background-color: rgb(1, 118, 50); */
    }
    .copyright-section {
        text-align: center;
        font-size: 18px;
    }
    .footer-gist-section {
        height: 100px;
        width: 100px;
    }
    /* Footer Section Ends*/
    .faq-main {
        background: url("../../../static/Localisation_App/img/faq1.png");
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .faq-Title {
        color: #000000;
        letter-spacing: -0.005em;
        margin: 40px;
        font-size: 40px;
        text-align: center;
    }
    .general {
        margin-top: 30px;
        margin-left: 240px;
        margin-right: 230px;
        height: 40px;
        background-color: #0A4866;
    }
    #question {
        color: white;
        padding-top: 3px;
        margin-left: 10px;
    }
    .section1 {
        margin-top: 10px;
        margin-left: 240px;
        margin-right: 230px;
    }
    .btn1 {
        background-color: #F1F3F6;
        font-size: 18px;
        text-align: justify;
        color: #023047;
    }
    .answer1 {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* faq section ends */

@media only screen and (max-device-width: 480px) {
    /* About Us section */
    .aboutUs {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
    }
    .aboutUs-Title {
        text-align: center;
        color: #219EBC;
        margin: 20px;
        font-size: 35px;
        font-weight: 700;
    }
    .aboutUs-para {
        margin-top: 30px;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        /* or 210% */
        letter-spacing: 0.02em;
        color: #6B6A6A;
        mix-blend-mode: normal;
    }
    .aboutus-Button {
        width: 340px;
        height: 100px;
        left: 768px;
        top: 702px;
        background: #ED875C;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        font-size: 40px;
        color: white;
        margin-left: 300px;
        margin-bottom: 100px;
    }
    /* About Us end */
    /* Success Stories Section */
    .success-stories {
        padding-top: 30px;
        /* padding-left: 200px; */
        /* padding-right: 10px;  */
        /* background: url("../../../static/Localisation_App/img/Capa.png"); */
        background-size: cover;
        background-repeat: no-repeat;
    }
    .success-header {
        text-align: center;
        color: #023047;
        margin: 20px;
        font-size: 35px;
        font-weight: 700;
        /* 
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 36px;
        letter-spacing: 0.005em;
        text-align: center;
        color: #023047; */
    }
    @keyframes zoom-in-zoom-out {
        /* 0% {
            transform: scale(1.2, 1.2);
          } */
        100% {
            transform: scale(1.2, 1.2);
        }
        /* 100% {
            transform: scale(1, 1);
          } */
    }
    .success-title {
        color: rgb(15, 43, 70);
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 40px;
    }
    .success-link {
        margin-left: 250px;
        height: 40px;
        width: 200px;
        background-color: #ED875C;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 27px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        box-shadow: 4px 4px 6px -1px rgba(92, 92, 92, 1);
        border: none;
    }
    .success-read-more {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }
    .card-text {
        height: auto;
        font-weight: 500;
        font-size: 35px;
        padding: 10px;
        text-align: justify;
    }
    .card {
        margin-top: 40px;
        border: none;
        width: 750px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    /* Success Stories Section Ends */
    /* Counter Section Start */
    .counter {
        margin-left: 0px;
    }
    .card1 {
        width: 600px;
        height: 378px;
        margin-left: 50px;
        margin-bottom: 30px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #DE6881;
        border-radius: 22px;
    }
    .card2 {
        width: 600px;
        height: 378px;
        margin-left: 50px;
        margin-bottom: 30px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #ACDC7A;
        border-radius: 22px;
    }
    .card3 {
        width: 600px;
        height: 378px;
        margin-left: 60px;
        margin-bottom: 30px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #EED58E;
        border-radius: 22px;
    }
    .card4 {
        width: 600px;
        height: 378px;
        margin-left: 60px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #8ECAE6;
        border-radius: 22px;
    }
    .card-title {
        margin-top: 20px;
        margin-left: 250px;
        font-style: normal;
        font-weight: 550;
        font-size: 32px;
        line-height: 48px;
        color: #646363;
    }
    .card-description {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        margin-left: 7px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #4E4C4C;
    }
    .icon {
        height: 130px;
        width: 130px;
        padding: 30px;
        border-radius: 80px;
        background-color: #FFB703;
        margin-left: 230px;
        margin-top: 30px;
    }
    /* Counter Section End */
    /* Nav section */
    .form-select {
        margin-top: 10px;
        margin-right: 10px;
        width: 320px;
        height: 100px;
        font-size: 30px;
        padding: 25px;
    }
    .items {
        font-size: 62px;
        font-weight: 500;
        text-decoration: none;
        margin-left: 35px;
        margin-top: 30px;
        padding: 40px;
        color: #646363;
        text-shadow: 1px 2px 3px rgba(179, 179, 179, 0.46);
    }
    /* Navbar Start */
    .quote {
        height: 100px;
        width: 400px;
        background: #ECB471;
        border-radius: 20px;
        text-align: center;
        padding: 18px;
        font-size: 42px;
        font-weight: 700;
        color: #023047;
        margin-left: 300px;
        margin-bottom: 50px;
    }
    .quote:hover {
        height: 40px;
        width: 180px;
        background: #ECB471;
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 700;
        color: #023047;
    }
    .customNav {
        background: #219EBC;
    }
    /* Nav Section Ends */
    /* Cost Esitmate Section Start */
    .esitimate-cost-img {
        margin-left: 200px;
        margin-top: 50px;
        padding-bottom: 30px;
    }
    .estimate-cost-content {
        /* position: relative; */
        background: url("../../../static/Localisation_App/img/Cost.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
    }
    .estimate-cost-title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 38px;
        line-height: 43px;
        letter-spacing: 0.035em;
        color: #023047;
        text-align: center;
    }
    .estimate-cost-money-img {
        background: url("../../../static/Localisation_App/img/Cost.png");
    }
    .estimate-cost-button {
        width: 230px;
        height: 45px;
        background-color: #023047;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.38);
        border-radius: 18px;
        text-align: center;
        font-weight: 700;
        font-size: 33px;
        line-height: 43px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 350px;
    }
    /* Cost Esitmate Section Ends */
    /* Footer Section Start */
    .footer {
        background-color: #023047;
        color: white;
        height: auto;
        padding: 50px;
    }
    .footer-left {
        font-size: 40px;
        /* border-bottom:2px solid #ffffffb5; */
        padding-left: 100px;
        /* background-color: red; */
    }
    .footer-left h3 {
        font-size: 40px;
        margin-left: 30px;
    }
    .footer-center {
        /* border-bottom:2px solid #ffffffb5; */
        padding: 100px;
        /* background-color: rgb(8, 8, 103); */
    }
    .test1 {
        height: 80px;
        width: 700px;
    }
    .footer-right h5 {
        /* background-color: rgb(1, 118, 50); */
        margin-left: 150px;
        font-size: 38px;
        ;
    }
    .copyright-section {
        text-align: center;
        font-size: 38px;
    }
    .footer-gist-section {
        margin-left: 300px;
        margin-bottom: 30px;
        height: 200px;
        width: 200px;
    }
    /* Footer Section Ends*/
    /* Footer Section Ends*/
    .faq-main {
        background: url("../../../static/Localisation_App/img/faq1.png");
        background-size: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .faq-Title {
        color: #000000;
        letter-spacing: -0.005em;
        margin: 40px;
        font-size: 40px;
        text-align: center;
    }
    .general {
        margin-top: 30px;
        margin-left: 240px;
        margin-right: 230px;
        height: 40px;
        background-color: #0A4866;
    }
    #question {
        color: white;
        padding-top: 3px;
        margin-left: 10px;
    }
    .section1 {
        margin-top: 10px;
        margin-left: 240px;
        margin-right: 230px;
    }
    .btn1 {
        background-color: #F1F3F6;
        font-size: 18px;
        text-align: justify;
        color: #023047;
    }
    .answer1 {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* faq section ends */




/* for screen size 1240 */
@media only screen and (max-device-width: 1240px) {
    .items {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        margin-right: 25px;
        color: #646363;
        text-shadow: 1px 2px 3px rgba(179, 179, 179, 0.46);
    }
    
    .quote {
        height: 35px;
        width: 150px;
        background: #ECB471;
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        font-size: 15px;
        font-weight: 600;
        color: #023047;
    }
    
    .quote:hover {
        height: 35px;
        width: 150px;
        background: #ECB471;
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        font-size: 15px;
        font-weight: 600;
        color: #023047;
    }
    
    .newsclass {
        height: 50px;
        font-size: 22px !important;
    }
    
    .news1 {
        font-weight: 500;
        color: #023047;
        text-decoration: none;
    }
    
    .aboutUs-para {
        text-align: justify;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 35px;
        /* or 210% */
        letter-spacing: -0.02em;
        color: #6B6A6A;
        mix-blend-mode: normal;
    }
    
    .aboutUs-Title {
        text-align: center;
        color: #219EBC;
        font-size: 35px;
        font-weight: 600;
        margin-top: 30px;
    }
    
    .aboutus-Button {
        width: 100px;
        height: 35px;
        background: #ED875C;
        border-radius: 8px;
        border: none;
        font-weight: 400;
        font-size: 15px;
        color: white;
        margin-left: 450px;
    }
    /* Counter Section Start */
    
    .card1 {
        width: 200px;
        height: 150px;
        margin-left: 100px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #DE6881;
        border-radius: 22px;
    }
    
    .card2 {
        width: 200px;
        height: 150px;
        margin-left: 50px;
        background: #ffffff;
        box-shadow: 3px 2px 5px 1px #ACDC7A;
        border-radius: 22px;
    }
    
    .card3 {
        width: 200px;
        height: 150px;
        margin-left: 50px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #EED58E;
        border-radius: 22px;
    }
    
    .card4 {
        width: 200px;
        height: 150px;
        margin-left: 50px;
        background: #FFFFFF;
        box-shadow: 3px 2px 5px 1px #8ECAE6;
        border-radius: 22px;
    }
    
    .card-title {
        margin-top: 5px;
        font-style: normal;
        font-weight: 500;
        align-items: center;
        font-size: 25px;
        color: #646363;
    }
    
    .card-description {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        margin-left: 7px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #4E4C4C;
    }
    
    .icon {
        height: 50px;
        width: 50px;
        padding: 10px;
        border-radius: 50px;
        background-color: #FFB703;
        margin-left: 65px;
        margin-top: 10px;
    }
    /* Counter Section End */
    /* Vision start */
    
    .vision {
        width: 100%;
        height: 300px;
        background-color: #023047;
        background-image: url("../img/vision-background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .vision-title {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 100px;
        letter-spacing: -0.015em;
        color: #F5AE59;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .vision-para {
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    /* vision end */
    /* Success Stories Section starts*/
    
    .serives-row {
        margin: 20px;
    }
    
    .test {
        max-width: 100%;
        height: auto;
    }
    
    .card {
        margin-top: 20px;
        border: none;
        width: 520px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    
    .card-text {
        height: auto;
        font-weight: 350;
        font-size: 17px;
        padding: 7px;
        text-align: justify;
    }
    
    .success-title {
        color: rgb(15, 43, 70);
        text-align: center;
        font-weight: 500;
        letter-spacing: -1px;
        font-size: 25px;
    }
    
    .success-link {
        margin-left: 280px;
        height: 30px;
        width: 150px;
        background-color: #ED875C;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        box-shadow: 4px 4px 6px -1px rgba(92, 92, 92, 1);
        border: none;
    }
    
    .success-read-more {
        font-size: 22px;
        font-weight: 500;
        text-align: right;
        margin-top: 30px;
    }
    
    .card-header:hover {
        animation: zoom-in-zoom-out 2s ease;
    }
    /* .card:hover {
      animation: zoom-in-zoom-out 2s ease;
    } */
    /* Success Stories Section */
    
    .success-stories {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        background: url("../../../static/Localisation_App/img/Capa.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .success-header {
        text-align: center;
        color: #023047;
        font-size: 35px;
        font-weight: 700;
        /* 
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 36px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #023047; */
    }
    
    @keyframes zoom-in-zoom-out {
        /* 0% {
        transform: scale(1.2, 1.2);
      } */
        100% {
            transform: scale(1.2, 1.2);
        }
        /* 100% {
        transform: scale(1, 1);
      } */
    }
    /* Success Stories Section Ends */
    /* Cost Esitmate Section Start */
    
    .esitimate-cost-img {
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .estimate-cost-content {
        /* position: relative; */
        background: url("../../../static/Localisation_App/img/Cost.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .estimate-cost-title {
        margin-top: 150px;
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        letter-spacing: 0.035em;
        color: #023047;
        text-align: center;
    }
    
    .estimate-cost-money-img {
        background: url("../../../static/Localisation_App/img/Cost.png");
    }
    
    .estimate-cost-button {
        width: 150px;
        height: 40px;
        background-color: #023047;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.38);
        border-radius: 12px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        line-height: 43px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 230px;
    }
    /* Cost Esitmate Section Ends */
}