
/* .help-main {
  background: url("../../../static/Localisation_App/img/faq1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 2100px;
} */
.main-container{
  min-height: 60vh;
  background-image: url('../img/linksbackgound.png');
  background-size: cover;
}

.help-heading{
  background-color: #023047;
  color:white;
  width: auto;
  height: 50px;
  font-family: 'Heebo', sans-serif;;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  padding:0px 10px 0px 10px;
}

.help-navigation {
  /* position: fixed; */
  padding-left: 4rem;
}

.help-navigation ul {
  padding: 0;
}

.help-navigation li {
  list-style: none;
}

.help-navigation li a {
  font-size: 1.15rem;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.3rem 0.3rem;
  font-weight: 600;
  transition: all ease-out 250ms;
}

.help-navigation li a:hover {
  color: rgb(30, 159, 199);
  font-size: 1.25rem;
  
}
/* side base css ends */

.help-main-title {
  color: #000000;
  letter-spacing: -0.005em;
  padding: 1.3rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.link {
  text-decoration: none;
}

.help-title {
  font-weight: 600;
  background-color: rgb(5, 65, 87);
  color: white;
  padding: 5px;
}

.help-sub-title {
  font-weight: 600;
  /* padding-top: 10px; */
}

.help-content {
  text-align: justify;
}

.main p,a{
  text-align: justify;
  font-size: 20px;
}

.main section {
  background-color: #f2f2f2;
  padding:.5rem 1rem;
  margin-top: .5rem;
}

.software {
  text-decoration: none;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 17px;
  font-weight: 600;
}
.second-section {
  width: 50%;
 padding: 0px 10px 0px 10px ;
}
@media screen and (max-width: 1100px) {
  .first-section {
    width: 100%;
    text-align: center;
  }

  .second-section {
    width: 100%;
    padding: 0 5em;
  }
}




