.forgot-heading{
  background-color: #023047;
  color:white;
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.password-main {
  background: url("../../../static/Localisation_App/img/WebSiteBgImg.png");
  background-size: 100%;
  height: auto;

}

.forgot-form-main{
  /* background-color: red; */
  background-color:#dbeef3;
  width:400px;
  height:auto;
  /* border:3px solid #dda58f; */
  border-radius:20px;
  padding: 40px 20px;
  margin-top: 120px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(147,168,179,1);
-moz-box-shadow: 0px 0px 19px 4px rgba(147,168,179,1);
box-shadow: 0px 0px 19px 4px rgba(147,168,179,1);
}

.forgot-user-icon {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  top:-90;
  left: 38%;
}
.forgot-button{

  height:40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: #0089ac;
  text-align: center;
  padding: 4px;
  font-size: 20px;
  color:white;
}
.forgot-button:hover {
  background-color: #046881;
}
.forgot-links{
  font-size: 16px;
  font-weight: 700 !important;
}
.input-1{
  /* background-color: #0089ac; */
  /* width:200px; */
  margin-bottom: 5px;
  border: 2px solid #8FCEDD;
}
.Forget-password-form label{
  color: rgb(6, 88, 126);
  font-size: 20px;
  font-weight: 500;
  font-weight: 550;
}