/* Services Section */

.sevices-heading{
    background-color: #023047;
    color:white;
    width: auto;
    height: 50px;
    font-family: 'Heebo', sans-serif;;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.service-card1{
    background-color:#dff1f1 !important;
    width:40rem                !important;
    min-height:20rem               !important;
    height: auto                !important;
}

.service-card1:hover{
    transform: scale(1.05);
}

.services-button{
    width:100%;
    height:60px;
    display: block;
    border-radius:0% 0% 30px 30px;
    background-color:#077fa9;
    border:none;
}
.services-button a{
    text-decoration: none;
    color:white;
}
.services-button:hover{
    background-color:#054f74;
    color: white;
}

@media screen and (max-width: 350px) {
    .first-section {
      width: 100%;
    }
  
    .second-section {
      width: 100%;
    }
  }

  .back-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }
/* end Services Section */