.success-sidebar {
    height: auto;
    /* background-color: red; */
}

.success-content {
    height: auto;
    /* background-color: green; */
}

.success-sidebar-menu {
    border-radius: 10px;
    /* height:500px; */
    background-color: #219EBC;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.sidebar-title{
    font-size: 22px;
    color:white;
    text-align: ce;
    margin-bottom: 10px;
}
/* .sevices-heading{
    background-color: #023047;
    color:white;
    width: 200px;
    height: 50px;
    font-family: 'Heebo', sans-serif;;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
} */

/* Success Stories Section */
.success-stories-1 {
    background-color: grey;
    background: url("../../../static/Localisation_App/img/success_bg.png");
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

.success-header {
    padding: 30px;
}


.success-title-1 {
    /* background-color: pink; */
    color: rgb(15, 43, 70);
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 30px;
}

.success-title-1 a {
    font-size: 18px;
    text-decoration: none;
    color: azure;
}

.success-read-more-1 {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    padding-right: 70px;
    margin-top: 30px;
}

.card-text-1 {
    height: auto;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    color: #444444;
    background-color: #FFD5A3;
}

.card-list {
    background-color: #ffffff;
    border-radius: 60px;
    margin-top: 40px;
    border: none;
    width: 1000px;
    height: auto;
    box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
}

.test12 {
    padding-left: 30px;
    max-width: 100%;
    height: auto;
}

/* Success Stories Section Ends */

.success-card-main {
    width: 45%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px -1px rgb(89, 94, 97);

}

/* Success Search */

.success-search {

    width: 300px;
    margin-bottom: 4px;
    border: 1px solid black;
}


/* laptop */
@media screen and (min-device-width: 1024px) and (max-device-width: 1880px) and (-webkit-min-device-pixel-ratio: 1) {

    .success-sidebar {
        height: auto;
        /* background-color: red; */
        
    }
    
    .success-content-1 {
        height: auto;
        /* background-color: green; */
        margin-left: 120px;
    }
    
    .success-sidebar-menu {
        border-radius: 10px;
        /* height:500px; */
        background-color: #219EBC;
        width: 300px;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        /* padding-top: 35px;
        padding-bottom: 35px; */
        padding:20px 20px 20px 0px;
    }
    
    
    /* Success Stories Section */
    .success-stories-1 {
        background-color: grey;
        background: url("../../../static/Localisation_App/img/success-bg1.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .success-header {
        padding: 30px;
    }
    
    
    .success-title-1 {
        /* background-color: pink; */
        color: rgb(15, 43, 70);
        font-family: 'Heebo', sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 30px;
    }
    
    .success-title-1 a {
        font-size: 18px;
        text-decoration: none;
        color: azure;
    }
    
    .success-read-more-1 {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }
    
    .card-text-1 {
        height: auto;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
        color: #444444;
        background-color: #FFD5A3;
    }
    
    .card-list {
        background-color: #ffffff;
        border-radius: 60px;
        margin-top: 40px;
        border: none;
        width: 1000px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    
    .test12 {
        padding-left: 30px;
        max-width: 100%;
        height: auto;
    }
    
    /* Success Stories Section Ends */
    
    .success-card-main {
        width: 45%;
        background-color:  #ffffff;
        border-radius: 20px;
        /* padding: 20px; */
        /* margin-left: 20px; */
        /* margin-top: 20px; */
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px -1px rgb(89, 94, 97);
    
    }
    
    /* Success Search */
    
    .success-search {
    
        width: 300px;
        margin-bottom: 4px;
        border: 1px solid black;
    }
    

}


/* Tablet Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .success-sidebar {
        height: auto;
        /* background-color: red; */
    }
    
    .success-content-1 {
        height: auto;
        /* background-color: green; */
        margin-left: 70px;
    }
    
    .success-sidebar-menu {
        border-radius: 10px;
        /* height:500px; */
        background-color: #219EBC;
        width: 250px;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    
    /* Success Stories Section */
    .success-stories-1 {
        background-color: grey;
        background: url("../../../static/Localisation_App/img/success-bg1.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .success-header {
        padding: 30px;
    }
    
    
    .success-title-1 {
        /* background-color: pink; */
        color: rgb(15, 43, 70);
        font-family: 'Heebo', sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 20px;
    }
    
    .success-title-1 a {
        font-size: 14px;
        text-decoration: none;
        color: azure;
    }
    
    .success-read-more-1 {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }
    
    .card-text-1 {
        height: auto;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
        color: #444444;
        background-color: #FFD5A3;
    }
    
    .card-list {
        background-color: #ffffff;
        border-radius: 60px;
        margin-top: 40px;
        border: none;
        width: 1000px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    
    .test12 {
        padding-left: 30px;
        max-width: 100%;
        height: auto;
    }
    
    /* Success Stories Section Ends */
    
    .success-card-main {
        width: 90%;
        background-color:  #ffffff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 30px;
        /* margin-top: 20px; */
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px -1px rgb(89, 94, 97);
    
    }
    
    /* Success Search */
    
    .success-search {
    
        width: 250px;
        margin-bottom: 4px;
        border: 1px solid black;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {

    .success-sidebar {
        height: auto;
        /* background-color: red; */
    }
    
    .success-content-1 {
        height: auto;
        /* background-color: rgb(128, 158, 128); */
        margin-left: 20px;
        width:500px;
    }
    
    .success-sidebar-menu {
        border-radius: 10px;
        /* height:500px; */
        background-color:  #219EBC;
        width: auto;
        font-size: 15px;
        font-weight: 600;
        line-height: 34px;
        padding-top: 35px;
        margin-left:110px;
        padding-bottom: 35px;
    }
    
    
    /* Success Stories Section */
    .success-stories-1 {
        background-color: grey;
        background: url("../../../static/Localisation_App/img/success-bg1.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .success-header {
        padding: 30px;
    }
    
    
    .success-title-1 {
        /* background-color: pink; */
        color: rgb(15, 43, 70);
        font-family: 'Heebo', sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 20px;
    }
    
    .success-title-1 a {
        font-size: 14px;
        text-decoration: none;
        color: azure;
    }
    
    .success-read-more-1 {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }
    
    .card-text-1 {
        height: auto;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
        color: #444444;
        background-color: #FFD5A3;
    }
    
    .card-list {
        background-color: #ffffff;
        border-radius: 60px;
        margin-top: 40px;
        border: none;
        width: 1000px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }
    
    .test12 {
        padding-left: 30px;
        max-width: 100%;
        height: auto;
    }
    
    /* Success Stories Section Ends */
    
    .success-card-main {
        width: 400px;
        background-color:  #ffffff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px -1px rgb(89, 94, 97);
    
    }
    
    /* Success Search */
    
    .success-search {
    
        width: 250px;
        margin-bottom: 4px;
        border: 1px solid black;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .success-sidebar {
        height: auto;
        /* background-color: red; */
    }

    .success-content {
        height: auto;
        background-color: rgb(200, 214, 200);
    }

    .success-sidebar-menu {
        border-radius: 10px;
        /* height:500px; */
        background-color: #219EBC;
        width: 580px;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-left: 70px;
        margin-top: 30px;
    }


    /* Success Stories Section */
    .success-stories-1 {
        padding-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        background: url("../../../static/Localisation_App/img/Success.png");
        background-size: cover;
        background-repeat: no-repeat;
    }


    .success-title-1 {
        /* background-color: pink; */
        color: rgb(15, 43, 70);
        font-family: 'Heebo', sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 30px;
    }

    .success-title-1 a {
        font-size: 18px;
        text-decoration: none;
        color: azure;
    }

    .success-read-more-1 {
        font-size: 25px;
        font-weight: 700;
        text-align: right;
        padding-right: 70px;
        margin-top: 30px;
    }

    .card-text-1 {
        height: auto;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
        color: #444444;
        background-color: #FFD5A3;
    }

    .card-list {
        background-color: #ffffff;
        border-radius: 60px;
        margin-top: 40px;
        border: none;
        width: 1000px;
        height: auto;
        box-shadow: 2px 2px 5px -1px rgba(142, 202, 230, 100%)
    }

    .test12 {
        padding-left: 30px;
        max-width: 100%;
        height: auto;
    }

    /* Success Stories Section Ends */

    .success-card-main {
        width: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 80px;
        margin-top:30px;
        box-shadow: 2px 2px 5px -1px rgb(89, 94, 97);

    }
    .success-header{
        font-size: 60px;
    }

    /* Success Search */

    .success-search {
        margin-left: 30px;
        width: 250px;
        margin-bottom: 4px;
        border: 1px solid black;
        margin-left: 70px;
    }
}