
.t-show-heading {
  background-color: #023047;
  color:white;
  width: 450px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.t-show-main {
  font-size: 18px;
  background-color: aliceblue;
}

.t-show-main > .row {
  margin-bottom: 2px;
}

.t-show-body {
  font-size: 17px;
}

.t-show-user-email {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(72, 72, 72)
}

.t-show-pending {
  color: #dfa421;
}