{% extends 'Localisation_App/base.html' %} {% block title %}Login{% endblock %}
{% load static %} {% block profile %}

<link rel="stylesheet" href="{% static 'Localisation_App/css/user/profile.css' %}" />

<section class="profile-main vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                background-color: #c98a268a;
              "
            >
              <img
                src="{% static './Localisation_App/img/profile12.png' %}"
                alt="Avatar"
                class="img-fluid my-2"
                style="width: 140px; height: 210px"
              />
              <h5>Email : {{User_obj.userregistration_email_field}}</h5>

              <!-- <i class="far fa-edit mb-5"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
