{% extends 'Localisation_App/base.html' %}
{% load static %}
{% block title %}TTS {% endblock %}
 {% block tts_service %}
 <link
      href="{% static 'Localisation_App/css/servicedemo.css' %}"
      rel="stylesheet"
    />
{% comment %} <div class="col-1 border text-center">
  <a href="{% url 'Localisation_App:services' %}" class="text-decoration-none text-black"><i class="fa fa-arrow-left p-1" aria-hidden="true"></i>Back</a>
</div> {% endcomment %}
<div class="container card mb-5">
  <div class="col-1 border text-center">
    <a href="{% url 'Localisation_App:services' %}" class="text-decoration-none text-black"><i class="fa fa-arrow-left p-1" aria-hidden="true"></i>Back</a>
  </div>
<form action={% url 'Localisation_App:srvTTS' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <h2 class="card-title text-dark">TTS</h2> {% endcomment %}
    <div class="card-body">
      <div class="row d-flex mb-2 justify-content-center ">
         <h2 class="text-dark text-center py-1 rounded-pill demoheading">Text To Speech</h2>
       </div>
      <div class="row d-flex justify-content-center">
         <div class="row border px-5 py-3 rounded-4 mb-3 fs-5 demodesc">
           Text-to-Speech (TTS) is a software which renders the machine readable text into Human Voice. The TTS software allows people with visual impairments or reading disabilities to listen to written works on a computer or a mobile device. Text to Speech system when integrated with screen reader would enable visually challenged users to interpret and perform computer operations with audio interface.
         </div>
         <div class="row border p-4 rounded-4 demo">
          <div class="row">
              <div class="col-lg-6 mb-4">
                 Select Language
                 {{TTS_Form.Select_Language_Pair}}
              </div>
     
              <div class="col-lg-6 mb-4">
                 Select Gender
                 {{TTS_Form.Gender}}
              </div>
          </div>
              <div class="row mb-4">
                <div class="col">
                {{TTS_Form.InputText}}
                </div>
              </div>
              {% if Status == "success" %}
                 <audio controls style="margin-top:20px; margin-left:240px;">
                    <source src={{outspeech_filepath}} type="audio/ogg">
                 </audio>
              {% endif %}<br />
                 <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
               <div class="text-center">
                 <button type="submit" class="text-white px-3 py-2 rounded-2 border-none" style="width: 100px; background-color:#008ccf; border:none;">Submit</button>
               </div>
              </div>
       </div>
    </div>
  </form>
</div>
{% endblock %}