{% extends 'Localisation_App/base.html' %}
{% block title %}Contact Us{% endblock %}
{% load static %} 
{% block contactus %}

<link
  href="{% static 'Localisation_App/css/contactus.css' %}"
  rel="stylesheet"
/>

<div class="contact-main">
  <div class="container-fluid">
    <input
      type="button"
      class="contact-us-heading text-center px-5 rounded-5"
      value="Contact Us"
      disabled
    />
    <div class="text-center">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button> {% endcomment %}
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row pb-2 d-flex justify-content-center">
      <div class="contact-us-card">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 col-sm-6 d-flex justify-content-center">
            <div class="card shadow p-2 text-center" style="width: 24em">
              <div class="pb-2 pt-3">
                <i class="fa fa-phone contact-us-icon" aria-hidden="true"></i>
                <span class="fs-4 px-2">+91-20-25503100</span>
              </div>
              <div class="pb-2 pt-1">
                <i
                  class="fa fa-envelope contact-us-icon"
                  aria-hidden="true"
                ></i>
                <span class="fs-4 px-2">lpmf.gist@cdac.in</span>
              </div>
              <div class="pb-2 pt-1">
                <i class="fa fa-fax contact-us-icon" aria-hidden="true"></i>
                <span class="fs-4 px-2">+91-20-25503131</span>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-sm-6 col-xsm-6 d-flex justify-content-center"
          >
            <div class="card shadow p-2 text-center" style="width: 24em">
              <div class="pb-2 pt-3">
                <i
                  class="fa fa-map-marker contact-us-icon"
                  aria-hidden="true"
                ></i>
                <span class="fs-4 px-2" style="text-align: justify"
                  >C-DAC Innovation Park, Panchavati, Pashan,
                  <div style="padding-left: 3.5em">
                    Pune-411008, MH (India)
                  </div></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-lg-6 col-sm-12 border">
            <img
              src="{% static './Localisation_App/img/contact us.png' %}"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-6">
            <form
              action="{% url 'Localisation_App:submit' img %}"
              method="POST"
            >
              {%csrf_token%}
              <div class="input-group p-2 rounded-2">
                <span class="input-group-text"
                  ><i class="fa fa-user" aria-hidden="true"></i
                ></span>
                <input
                  name="name"
                  type="text"
                  placeholder="Name"
                  class="form-control border p-3"
                  pattern="^[A-Za-z ]{3,}$"
                  title="invalid name"
                  required
                />
              </div>
              <div class="input-group p-2 rounded-2">
                <span class="input-group-text"
                  ><i class="fa fa-envelope" aria-hidden="true"></i
                ></span>
                <input
                  name="email"
                  type="email"
                  placeholder="Email"
                  class="form-control border p-3"
                  required
                />
              </div>
              <div class="input-group p-2 rounded-2">
                <span class="input-group-text"
                  ><i class="fa fa-phone" aria-hidden="true"></i
                ></span>
                <input
                  name="phone-number"
                  type="tel"
                  pattern="[6-9]{1}[0-9]{9}"
                  placeholder="Phone Number"
                  class="form-control border p-3"
                  required
                />
              </div>
              <span class="text-muted px-2"
                >Mobile number must be 10 digit long</span
              >
              <div class="p-2">
                <select class="form-select p-3" name="option" required>
                  <option value="feedback">Feedback</option>
                  <option value="complaint">Complaint</option>
                  <option value="help">Help</option>
                  <option value="translation quote">Translation Quote</option>
                  <option value="training request">Training Request</option>
                  <option value="suggestion">Suggestion</option>
                </select>
              </div>
              <div class="input-group p-2">
                <span class="input-group-text"
                  ><i class="fa fa-comments" aria-hidden="true"></i
                ></span>
                <textarea
                  name="comment"
                  placeholder="Enter message here"
                  minlength="5"
                  maxlength="100"
                  rows="4"
                  title="minimum length must be 5 and maximum length is 100 characters long"
                  class="form-control"
                  required
                ></textarea>
              </div>

              <div class="col-6 py-2 px-2">
                <canvas
                  id="myCanvas"
                  class="text-center"
                  width="200"
                  height="80"
                  style="background-color: rgb(222, 216, 216)"
                ></canvas>
              </div>
              <div class="col-6 py-2 px-2 rounded-2">
                <input
                  type="text"
                  name="captcha"
                  placeholder="Enter Captcha"
                  class="form-control border p-3"
                  required
                />
              </div>

              <div class="p-2 pb-2">
                <button
                  type="submit"
                  class="btn btn-primary btn-regular"
                  style="width: 100px"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var c = document.getElementById("myCanvas");
    //console.log("splitted captcha"+`{{img}}`.split('')[1])
    var ctx = c.getContext("2d");
    //console.log("ctx is ",ctx);
    ctx.beginPath();
    ctx.strokeStyle = "#000000";
    ctx.moveTo(50, 40);
    ctx.lineTo(150, 40);
    ctx.stroke();
    ctx.beginPath();
    ctx.strokeStyle = "#FF0000";
    ctx.moveTo(50, 20);
    ctx.lineTo(150, 60);
    ctx.stroke();
    ctx.strokeStyle = "#FFFF";
    ctx.beginPath();
    ctx.moveTo(150, 10);
    ctx.lineTo(50, 70);
    ctx.stroke();
    ctx.font = "30px Italic";
    ctx.fillText("{{img}}", 70, 50);
  </script>
</div>
{% endblock %}
