<!--Content starts here-->
 <div class="container-fluid">
    <div class="row">
        <div class="col-6 d-flex "></div>
        <div class="col-lg-6 pb-2">
          <div class="col-lg-6 card p-4">
            <div> Integration PDF: Click <a href="https://localisation.gov.in/index.php/developer?download=60:go-translate-web-localizer-snippet">here</a> to download integration video</div>
          </div>
          <div class="col-lg-2">

          </div>
          <div class="col-lg-6 card p-4">
            <div> Integration Video: Click <a href="https://localisation.gov.in/phocadownload/userupload/tools/developer_tools/Snippet_Integration_Sentence_Video.mp4">here</a> to watch integration video</div>
         </div>
        </div>
    </div>
</div>