{% extends 'Localisation_App/base.html' %} {% load static %} {% block home %}

<!--carousel start-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: #f1f2f3">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <div class="carousel-inner-text">
              <h3 class="carousel-title">Localisation in</h3>
              <h3 class="carousel-subtitle-1">e-Governance</h3>

              <p class="carousel-caption-1">
                भारतीय भाषाओं में उपकरण और प्रौद्योगिकी के लिए निरंतर प्रयासरत
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-inner-text-2">
              <!-- <div class="text-center">Localisation in</div> -->
              <h3 class="carousel-title">Bhashini</h3>
              <h3 class="carousel-subtitle-2">
                One Platform, Multiple Crowdsourcing
              </h3>

              <p class="carousel-caption-2">
                भाषा की बाधाओं को पार करके सबके डिजिटल सशक्तिकरण की ओर
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-inner-text-3">
              <!-- <div class="text-center">Localisation in</div> -->
              <h3 class="carousel-title">Translate Your Website</h3>
              <h3 class="carousel-subtitle-3">Estimate Quote</h3>

              <p class="carousel-caption-3">आपकी वेबसाइट आपकी भाषा में</p>
            </div>
          </div>
          <!-- <div class="carousel-item" data-bs-interval="4000">
                <div class="carousel-inner-text">
                  <div class="text-center">Some Text</div>
                  <p class="text-center">
                    Some representative placeholder content for the first slide.
                  </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <div class="carousel-inner-text">
                  <div class="text-center">Some Text</div>
                  <p class="text-center">
                    Some representative placeholder content for the first slide.
                  </p>
                </div>
              </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--carousel end -->
<!--News start-->

<nav class="customNews">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row newsclass">
        <div class="col-1" style="height:40px;margin-left:-20px;background-color: #ED875C;padding:5px 0px 2px 10px">
          <h5>News & Events</h5>
        </div>
        <div class="col-11">
          <marquee
          class="marqueeClass"
          Scrollamount="10"
          onmouseover="this.stop()"
          onmouseout="this.start()"
        >
          <span style="color: grey"></span> {% for news in NewsAndEventsData %}
          <a class="news1" href="{{news.NewsAndEvents_Link }}" target="_blank"
            >{{ forloop.counter }} . {{ news.NewsAndEvents_HeadingName }}</a
          >&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}
        </marquee>
        </div>
        
      </div>
    </div>
  </div>
</nav>

<!--News end-->

<!--About Us start-->
<div class="container-fluid testting py-3">
  <div class="col-12" data-aos="fade-down" data-aos-duration="1000">
    <h4 class="aboutUs-Title">{{ ArticleData.0.Article_HeadingName }}</h4>
  </div>
  <div class="row">
    <div
      class="col-sm-12 col-lg-6"
      data-aos="fade-down"
      data-aos-duration="1200"
    >
      {% if ArticleData.0.Article_Image != NUll %}
      <img
        class="d-block w-100"
        src="/media/{{ ArticleData.0.Article_Image }}"
        alt="..."
      />
      {% endif %}
    </div>
    <div
      class="col-sm-12 col-lg-6 p-3"
      data-aos="fade-down"
      data-aos-duration="1200"
    >
      <div class="aboutUs-para">
        {{ ArticleData.0.Article_Description|safe|slice:":1349" }}
      </div>
      <button class="aboutus-Button">
        <a href="{% url 'Localisation_App:aboutus' %}">Read More</a>
      </button>
    </div>
  </div>

  <div class="container my-3" style="">
    <div class="services-title">Our Services</div>
    <div class="row">
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card1"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Vector.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.0.Services_Name }}</p>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card2"
        data-aos="fade-down"
        data-aos-duration="1500"
      >
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Downloads.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.1.Services_Name }}</p>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card3"
        data-aos="fade-down"
        data-aos-duration="2000"
      >
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Portals.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.2.Services_Name }}</p>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card4"
        data-aos="fade-down"
        data-aos-duration="2500"
      >
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Clients.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.3.Services_Name }}</p>
      </div>
      
      <button class="aboutus-Button2">
        <a href="{% url 'Localisation_App:services' %}">Read More</a>
      </button>
    </div>
  </div>
</div>

<!--About Us end-->

<!--Vision start-->

<div style="width: 100%">
  <div class="vision">
    <h3 class="vision-title" data-aos="zoom-in" data-aos-duration="1000">
      {{ ArticleData.3.Article_HeadingName }}
    </h3>
    <div class="vision-para" data-aos="zoom-in" data-aos-duration="1200">
      {{ ArticleData.3.Article_Description|safe }}
    </div>
  </div>
</div>

<!--Vision end-->
<!-- Bhashani Section -->

<div class="container-fluid my-4" >
  <div class="bhashani-title-section">
    <h1>Bhasha Daan</h1>
    <p>One Platform, Multiple Crowdsourcing Initiatives</p>
    <div class="text">Help to build an open repository of data to digitally enrich your language</div>
  </div>
  <div class="row bhasha-main d-flex justify-content-center">
    <div class="col-lg-2 col-md-6 bhasha-card" style="background-color: #C4D3C7;">
      <img class="img-fluid" src="{% static './Localisation_App/img/bolo.png' %}" alt="">
      <p>Enrich your language by donating your voice</p>
      <div class="participate">
        Start Participating
      </div>
    </div>
    <div class="col-lg-2 col-md-6 bhasha-card" style="background-color: #F3C9B6;">
      <img class="img-fluid" src="{% static './Localisation_App/img/likho.png' %}" alt="">
      <p>Enrich your language by translating text</p>
      <div class="participate">
        Start Participating
      </div>
    </div>
    <div class="col-lg-2 col-md-6 bhasha-card" style="background-color: #9ED2DF;">
      <img class="img-fluid" src="{% static './Localisation_App/img/dekho.png' %}" alt="">
      <p>Enrich your language by typing the text you see</p>
      <div class="participate">
        Start Participating
      </div>
    </div>
    <div class="col-lg-2 bhasha-card" style="background-color: #B1B3D0;">
      <img class="img-fluid" src="{% static './Localisation_App/img/suno.png' %}" alt="">
      <p>Enrich your language by typing the audio that you hear</p>
      <div class="participate">
        Start Participating
      </div>
    </div>
  </div>
</div>

<!-- Bhashini Section End-->
<!--Vision start-->

<div style="width: 100%">
  <div class="show-section">
   
    <div class="vision-para" data-aos="zoom-in" data-aos-duration="1200">
      One stop shop for relevant standards, best practices, tools and technologies for realizing the dream of localizing all the citizen services in regional languages.
    </div>
  </div>
</div>

<!--Vision end-->

<!-- Success Stories Start -->
<div class="container-fluid">
  <div class="succ-header">
    <span><img class="img-fluid" style="height:60px;width:60px;margin-top:-10px;" src="{% static './Localisation_App/img/Target.png' %}" alt="">Success Stories</span>
  </div>
  <div class="succ-subheader">
    Know all our successfull Integration of locaisation services and tools over different portals. 
  </div>
  <div class="row px-4">
  <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
    <img class="img-fluid" src="{% static './Localisation_App/img/Success-33.jpg' %}" alt="">
  </div>
  <div class="col-sm-12 col-lg-6">

    <div class="row mx-2 py-2 succ-main-card">
      <div class="col-4"> 
        <img src="{% static './Localisation_App/img/Localization Deployment.png' %}" class="succ-img  img-fluid" alt="">
      </div>
      <div class="col-7 succ-desc mt-2"> 
        <h2>Localisation Deployment</h2>
        <p>All our proof of concept of intregration of various services over different portals..</p>
        <!-- <div class="succ-link">Know More</div> -->
        <div class="succ-link"><i class="fa fa-arrow-circle-right" style="font-size:36px;color: #023047;"></i></div>
      </div>
    </div>

    <div class="row m-2 py-2 succ-main-card">
      <div class="col-7 succ-desc2 mt-2"> 
        <h2>Proof Of Concept</h2>
        <p>All our proof of concept of intregration of various services over different portals..</p>
        <div class="succ-link"><i class="fa fa-arrow-circle-right" style="font-size:36px;color:#023047"></i></div>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <img src="{% static './Localisation_App/img/Proof of Concept.png' %}" class="succ-img img-fluid" alt="">
        
      </div>
    </div>

    <div class="row m-2 py-2 succ-main-card">
      <div class="col-4">
        <img src="{% static './Localisation_App/img/Portals Translated.png' %}" class="succ-img  img-fluid" alt="">
      </div>
      <div class="col-7 succ-desc3 mt-2">
        <h2>Service Deployment</h2>
        <p>All our proof of concept of intregration of various services over different portals..</p>
        <div class="succ-link"><i class="fa fa-arrow-circle-right" style="font-size:36px;color:#023047"></i></div>
      </div>
    </div>

  </div>
</div>
</div>


<!--Mission start-->

<div class="vision">
  <h3 class="vision-title">{{ ArticleData.2.Article_HeadingName }}</h3>
  <div class="vision-para">{{ ArticleData.2.Article_Description|safe }}</div>
  {% comment %}
  <p class="vision-para">
    and System Integrators by offering Translation services
  </p>
  <p class="vision-para">and tools in regional languages.</p>
  {% endcomment %}
</div>

<!--mission end-->

<!-- Bhasni Section Starts -->
<!-- <div class="container-fluid">
  <div class="bhashni">
    Test
  </div>
</div> -->

<!-- Bhasni Section Ends -->

<!-- Estimate Cost Section Start -->

<div class="container-fluid p-3">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="/media/{{ ArticleData.1.Article_Image }}"
        class="esitimate-cost-img"
        alt="..."
      />
    </div>

    <div class="col-lg-6 estimate-cost-content">
      <h1 class="estimate-cost-title">
        {{ ArticleData.1.Article_HeadingName }}
      </h1>
      <!-- <div class="estimate-cost-money-img">
          <img src="{% static './Localisation_App/img/cost.png' %}" class="test" alt="..." />
        </div> -->
      <div class="estimate-cost-button">
        <a href="{% url 'Localisation_App:contactus' %}">Calculate</a>
      </div>
    </div>
  </div>
</div>

<!-- Esitmate Cost Sectio End -->

{% endblock %}
