{% extends 'Localisation_App/base.html' %} {% block title %}Home{% endblock %}
{% load static %} {% block home %}

<!--carousel start-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: #f1f2f3">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <div class="carousel-inner-text">
              <h3 class="carousel-title">Localisation in</h3>
              <h3 class="carousel-subtitle-1">e-Governance</h3>

              <p class="carousel-caption-1">
                भारतीय भाषाओं में उपकरण और प्रौद्योगिकी के लिए निरंतर प्रयासरत
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-inner-text-2">
              <!-- <div class="text-center">Localisation in</div> -->
              <h3 class="carousel-title">Bhashini</h3>
              <h3 class="carousel-subtitle-2">
                One Platform, Multiple Crowdsourcing
              </h3>

              <p class="carousel-caption-2">
                भाषा की बाधाओं को पार करके सबके डिजिटल सशक्तिकरण की ओर
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-inner-text-3">
              <!-- <div class="text-center">Localisation in</div> -->
              <h3 class="carousel-title">Translate Your Website</h3>
              <h3 class="carousel-subtitle-3">Estimate Quote</h3>

              <p class="carousel-caption-3">आपकी वेबसाइट आपकी भाषा में</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--carousel end -->
<!--News start-->

{% comment %} <nav class="customNews">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row newsclass">
        <div class="col-1 news-subhead">
          <h5>News & Events</h5>
        </div>
        <div class="col-11 news-events">
          <marquee
            class="marqueeClass"
            Scrollamount="10"
            onmouseover="this.stop()"
            onmouseout="this.start()"
          >
            <span style="color: grey"></span>
            {% for news in NewsAndEventsData%}
            <a
              class="news1"
              href="{{news.NewsAndEvents_Link }}"
              target="_blank"
            >
              <i class="fa-solid fa-location-arrow"></i>
              <strong>{{ news.NewsAndEvents_HeadingName }} - </strong>
              {{news.NewsAndEvents_Discription}}</a
            >&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}
          </marquee>
        </div>
      </div>
    </div>
  </div>
</nav> {% endcomment %}
<div class="row mx-1">
  <div class="col-1 news-subhead">
    <h5>News & Events</h5>
  </div>
  <div class="col-10">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a
           class="news1"
           href="{{NewsAndEventsData.0.NewsAndEvents_Link }}"
           target="_blank"
          >
          <i class="fa-solid fa-location-arrow"></i>
          <strong>{{ NewsAndEventsData.0.NewsAndEvents_HeadingName }} - </strong>
          {{NewsAndEventsData.0.NewsAndEvents_Discription}}</a
          >&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
         {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button> {% endcomment %}
       {% for news in NewsAndEventsData|slice:"1:" %}
          <div class="carousel-item">
            <a
              class="news1"
              href="{{news.NewsAndEvents_Link }}"
              target="_blank"
            >
            <i class="fa-solid fa-location-arrow"></i>
            <strong>{{ news.NewsAndEvents_HeadingName }} - </strong>
            {{news.NewsAndEvents_Discription}}</a
            >&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
           {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
           </button> {% endcomment %}
       {% endfor %}
      </div>
    </div>
  </div>
</div>

<!--News end-->

<!--About Us start-->
<div class="container-fluid testting py-3">
  <div class="col-12" data-aos="fade-down" data-aos-duration="1000">
    <h4 class="aboutUs-Title">{{ ArticleData.0.Article_HeadingName }}</h4>
  </div>
  <div class="row">
    <div
      class="col-sm-12 col-lg-6"
      data-aos="fade-down"
      data-aos-duration="1200"
    >
      {% if ArticleData.0.Article_Image != NUll %}
      <img
        class="d-block w-100"
        src="/media/{{ ArticleData.0.Article_Image }}"
        alt="..."
      />
      {% endif %}
    </div>
    <div
      class="col-sm-12 col-lg-6 p-3"
      data-aos="fade-down"
      data-aos-duration="1200"
    >
      <div class="aboutUs-para">
        {{ ArticleData.0.Article_Description|safe|slice:":1349" }}
      </div>
      <button class="aboutus-Button">
        <a href="{% url 'Localisation_App:aboutus' %}">Read More</a>
      </button>
    </div>
  </div>

  <div class="container my-3">
    <div class="services-title">Our Services</div>
    <div class="row">
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card1"
        data-aos="fade-down"
        data-aos-duration="1000"
      ><a href="{% url 'Localisation_App:services' %}">
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Keyboard1.png' %}"
            class="d-block w-100 pt-2"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.0.Services_Name }}</p>
      </a>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card2"
        data-aos="fade-down"
        data-aos-duration="1500"
      ><a href="{% url 'Localisation_App:services' %}">
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Go-trans2.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.1.Services_Name }}</p>
      </a>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card3"
        data-aos="fade-down"
        data-aos-duration="2000"
      ><a href="{% url 'Localisation_App:services' %}">
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Go-trans.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.2.Services_Name }}</p>
      </a>
      </div>
      <div
        class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 card4"
        data-aos="fade-down"
        data-aos-duration="2500"
      ><a href="{% url 'Localisation_App:services' %}">
        <div class="icon">
          <img
            src="{% static './Localisation_App/img/Clients.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <p class="card-description mt-2">{{ Servicesdata.3.Services_Name }}</p>
      </a>
      </div>

      <button class="aboutus-Button2">
        <a href="{% url 'Localisation_App:services' %}">More...</a>
      </button>
    </div>
  </div>
</div>

<!--About Us end-->

<!--Vision start-->

<div style="width: 100%">
  <div class="vision">
    <h3 class="vision-title" data-aos="zoom-in" data-aos-duration="1000">
      {{ ArticleData.3.Article_HeadingName }}
    </h3>
    <div class="vision-para" data-aos="zoom-in" data-aos-duration="1200">
      {{ ArticleData.3.Article_Description|safe }}
    </div>
  </div>
</div>

<!--Vision end-->


<!-- Bhashini Home Section Starts -->

<div class="container-fluid test pt-5">
  <div class="row bhasha-row ">
    <div class="col d-flex justify-content-center mb-4">
      <div class="bhasha-description-section d-flex justify-content-center flex-wrap">
        <img class="bhasha-img" src="{% static './Localisation_App/img/BhashiniLogo.png' %}"
        alt="..." />
        <div class="text-center">
          <p>Bhashini aims to build a National Public Digital Platform for languages to develop services and products for citizens by leveraging the power of artificial intelligence and other emerging technologies.</p>
        </div>
      </div>
    </div>
  </div>

  <div class=" bhasha-below-rows row justify-content-around">
    <div class="col-4 bhasha-section">
      <div class="bhasha-icon d-flex justify-content-center">
        <img class="bhasha-img-1" src="{% static './Localisation_App/img/ulca2.png' %}"
        alt="...">
      </div>
     <div class="bhasha-section-content">
      UNIVERSAL LANGUAGE CONTRIBUTION API
     </div>
     <p class="bhasha-sub-section-content">
      Standard API and open scalable data platform
     </p>
     <a class="bhasha-button" href="{% url 'Localisation_App:bhashini' %}"> Know More ..</a>
    </div>
    <div class="col-4  bhasha-section">
      <div class="bhasha-icon d-flex justify-content-center">
        <img class="bhasha-img-1" src="{% static './Localisation_App/img/ulca2.png' %}"
        alt="...">
      </div>
      <div class="bhasha-section-content d-flex justify-content-center">
        BHASHA DAAN
       </div>
       <p class="bhasha-sub-section-content">
        Open repository of multilingual data
       </p>
       <a class="bhasha-button" href="{% url 'Localisation_App:bhashini' %}"> Know More ..</a>
    </div>
  </div>
</div>
<!-- Bhashinin Home Section Ends -->

<!--marketing carousel start-->
<div id="carouselExampleControls" class="carousel slide text-center p-5" data-bs-ride="carousel" style="background-color:#9ed2df; background-image: url('{% static './Localisation_App/img/Frame 3.png' %}'); background-repeat: no-repeat;  background-size: cover">
  <div class="carousel-inner px-5">
    <div class="carousel-item active">
      {% comment %} <img
      width="100%"
      src="{% static './Localisation_App/img/marketing carousel1.png' %}"
      alt=""
    /> {% endcomment %}
       <div class="row text-center">
          <div class="col-4 d-flex-content center">
            <img
             src="{% static './Localisation_App/img/marketing carousel1.png' %}"
             width="200px"
             height="200px"
             alt=""
            />
          </div>
          <div class="col-7 fs-3 py-4 fw-semibold">CDAC GIST Keyboard available in 22 indian languages which is compatible to all devices</div>
       </div>
    </div>
    <div class="carousel-item">
      {% comment %} <img
      width="100%"
      src="{% static './Localisation_App/img/marketing carousel2.png' %}"
      alt=""
    /> {% endcomment %}
    
       <div class="row text-center">
          <div class="col-4 d-flex-content center">
            <img
              src="{% static './Localisation_App/img/marketing carousel2.png' %}"
              width="200px"
              height="200px"
              alt=""
            />
          </div>
          <div class="col-7 fs-3 py-4 fw-semibold">Added New MT Options Setting with available MT Engines such as EILMT, AnglaMT & GistMT (NMT) in GoTranslate</div>
       </div>
    </div>
    <div class="carousel-item">
      {% comment %} <img
      width="100%"
      src="{% static './Localisation_App/img/marketing carousel3.png' %}"
      alt=""
    /> {% endcomment %}
    <div class="row text-center">
      <div class="col-4 d-flex-content center">
        <img
          src="{% static './Localisation_App/img/marketing carousel3.png' %}"
          width="200px"
          height="200px"
          alt=""
        />
      </div>
      <div class="col-7 fs-3 py-4 fw-semibold">"GIST Translation System" engine is designed using Deep Learning (Neural Machine Translation) techniques and has been trained on data from generic domains</div>
   </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--marketing carousel end-->
<!-- Success Stories Start -->
<div class="container-fluid">
  <div class="succ-header">
    <span
      ><img
        class="img-fluid"
        style="height: 60px; width: 60px; margin-top: -10px"
        src="{% static './Localisation_App/img/Target.png' %}"
        alt=""
      />Success Stories</span
    >
  </div>
  <div class="succ-subheader">
    Know all our successfull Integration of Localisation services and tools over
    different portals.
  </div>
  <div class="row px-4">
    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
      <img
        class="img-fluid"
        src="{% static './Localisation_App/img/successStories1.png' %}"
        alt=""
      />
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="row mx-2 py-2 succ-main-card">
        <div class="col-4">
          <img
            src="{% static './Localisation_App/img/Localization Deployment.png' %}"
            class="succ-img img-fluid"
            alt=""
          />
        </div>
        <div class="col-7 succ-desc mt-2">
          <h2>Localisation Deployment</h2>
          <p>
            Different websites have been integrated with our Language Services
            and Products .
          </p>
          <!-- <div class="succ-link">Know More</div> -->
          <div class="succ-link">
            <a href="{% url 'Localisation_App:successstoryPage' %}"
              ><i
                class="fa fa-arrow-circle-right"
                style="font-size: 36px; color: #023047"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="row m-2 py-2 succ-main-card">
        <div class="col-7 succ-desc2 mt-2">
          <h2>Proof Of Concept</h2>
          <p>
            Successfully deployed our Indian Language Services and products as
            Proof of Concepts in various organizations.
          </p>
          <div class="succ-link">
            <a href="{% url 'Localisation_App:successstoryPage' %}"
              ><i
                class="fa fa-arrow-circle-right"
                style="font-size: 36px; color: #023047"
              ></i
            ></a>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <img
            src="{% static './Localisation_App/img/Proof of Concept.png' %}"
            class="succ-img img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row m-2 py-2 succ-main-card">
        <div class="col-4">
          <img
            src="{% static './Localisation_App/img/Portals Translated.png' %}"
            class="succ-img img-fluid"
            alt=""
          />
        </div>
        <div class="col-7 succ-desc3 mt-2">
          <h2>Service Deployment</h2>
          <p>
            Various Organizations are using our Indian Language Services in
            their websites .
          </p>
          <div class="succ-link">
            <a href="{% url 'Localisation_App:successstoryPage' %}"
              ><i
                class="fa fa-arrow-circle-right"
                style="font-size: 36px; color: #023047"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Mission start-->

<div class="vision">
  <h3 class="vision-title">{{ ArticleData.2.Article_HeadingName }}</h3>
  <div class="vision-para">{{ ArticleData.2.Article_Description|safe }}</div>
  {% comment %}
  <p class="vision-para">
    and System Integrators by offering Translation services
  </p>
  <p class="vision-para">and tools in regional languages.</p>
  {% endcomment %}
</div>

<!--mission end-->

<!-- Bhasni Section Starts -->
<!-- <div class="container-fluid">
  <div class="bhashni">
    Test
  </div>
</div> -->

<!-- Bhasni Section Ends -->

<!-- Estimate Cost Section Start -->

<div class="container-fluid p-3">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="/media/{{ ArticleData.1.Article_Image }}"
        class="esitimate-cost-img"
        alt="..."
      />
    </div>

    <div class="col-lg-6 estimate-cost-content">
      <h1 class="estimate-cost-title">
        {{ ArticleData.1.Article_HeadingName }}
      </h1>
      <!-- <div class="estimate-cost-money-img">
          <img src="{% static './Localisation_App/img/cost.png' %}" class="test" alt="..." />
        </div> -->
      <div class="estimate-cost-button">
        <a href="{% url 'Localisation_App:translation_quote' %}"
          >Your Website Domain</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Esitmate Cost Sectio End -->

{% endblock %}
