<!DOCTYPE html />
{% load static %}
<html>
    <head>
        <title>Localisation_tools page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link
        href="{% static 'Localisation_App/css/customIndex.css' %}"
        rel="stylesheet"
      />
    </head>
    <body>
        <div class="container customNews">
            <div class="col-sm-12 col-lg-12 ">
              <h4 class="aboutUs-Title">Tools</h4>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    Citizen
                </div>

                <div class="col-sm-12 col-lg-12">
                    gDoc Plug-in
                </div>
                <div class="col-sm-12 col-lg-12">
                    <h5>Overview</h5>
                    gDoc Add-in for Ms Word is a plug-in which can translate English data in word documents to Indian language with just one click using gistlangserver.in. The Translations provided by this extension are domain specific.User can also login and contribute to the data they want to in the Indian languages. While translation, it retains various formatting of the document like Bullets, font attributes, image, table..etc.It is currently available for Microsoft word 2007 and above.
                    
                    
                    <h5>Setting in Microsoft Word Document for enabling AddIn</h5>
                    1) Click the Microsoft Office Button Office button  , and then click Word Options.
                    2) Click Trust Center, click Trust Center Settings, and then click Macro Settings.
                    3) Click the options:- Enable all macros (not recommended, potentially dangerous code can run)
                    
                    <h5>Also check option:- Trust access to the VBA project object model</h5>
                    
                    <h5>Application Support and Prerequisites for installing gDoc Add-Ins</h5>
                    To use this plug-in, internet connectivity is must for the plug-in to function properly.
                    Office versions             :- 2007, 2010, 2013, 2016
                    Office architecture       :- 32-bit and 64-bit versions of Office
                    Windows versions       :- 7(SP1), 8, 8.1, 10
                    Windows architecture :- 32-bit and 64-bit
                    Browser support         :- Microsoft Internet Explorer 10+
                </div>
            </div>
        </div>
    </body>









</html>