{% extends 'Localisation_App/base.html' %} {% block title %}Name Matcher
Service{% endblock %} {% load static %} {% block name_matcher %}

<link
  href="{% static 'Localisation_App/css/servicedemo.css' %}"
  rel="stylesheet"
/>
<div class="col-1 border text-center">
  <a
    href="{% url 'Localisation_App:services' %}"
    class="text-decoration-none text-black"
    ><i class="fa fa-arrow-left p-1" aria-hidden="true"></i>Back</a
  >
</div>
<div class="container name-matcher-main">
<div class=" card  mb-5">
  <div class="card-body">
    <div class="row d-flex mb-2 justify-content-center">
      <h2 class="text-dark text-center py-1 rounded-pill demoheading">
        Name Matcher
      </h2>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="row border p-4 rounded-4 demo">
        <div class="col-4 pt-2">
            <input
              name="input1"
              id="name1"
              type="text"
              placeholder="Enter First Name"
              class="form-control"
              pattern="^[A-Za-z ]{3,}$"
              title="invalid name"
              required
            />
          <div id="error1" class="text-danger fw-semibold px-1 pb-2"></div>
        </div>
        <div class="col-4 pt-2">
            <input
              name="input2"
              id="name2"
              type="text"
              placeholder="Enter Second Name"
              class="form-control"
              pattern="^[A-Za-z ]{3,}$"
              title="invalid name"  
              required
            />
          <div id="error2" class="text-danger fw-semibold px-1 pb-2"></div>
        </div>
        <div class="col-4">
          <button
          type="submit"
          class="btn btn-primary btn-regular my-2"
          style="width: 100px"
          >
          Submit
        </button>
      </div>
      <div id="error_both" class="text-danger fw-semibold px31 pb-2"></div>
      </div>
    </div>
    <div id="output" class="my-2 fw-semibold fs-5"></div>
  </div>
</div>
</div>
<script>
  $(document).ready(() => {
    console.log("in ready function");
    $("button").click((e) => {
      e.preventDefault();
      $('#error1').text("")
      $('#error2').text("")
      $("#output").html('');
      $("#error_both").html('');
      let name1 = $("#name1").val();
      let name2 = $("#name2").val();

      console.log(name1)

      if(name1 == '' ){
        $('#error1').text("Please Fill First Name")
      }else if(name2 == ''){
        $('#error2').text("Please Fill Second Name")
      }else{


      const url = "http://gistnamematcher.in/AFW/NameMatch/CompareStrings";

      $.ajax({
        url: url,
        type: "GET",
        data: {
          FirstName: name1,
          SecondName: name2,
          Lenient: true,
        },
        success: function (response) {
          console.log(response);
          if(response == 10004){
            $('#error1').text("Invalid First Name")
          }
          else if(response == 10005){
            $('#error2').text("Invalid Second Name")
          }
          else if(response == 10006){
            $("#error_both").html("Invalid First & Second Names");
          }
          else{

            $("#output").html(`Maching Percentage : ${response}%\n`);
          }
        },
        error: function (err) {
          //Do Something to handle error
          console.log("error in calling ", err);
          alert("Currently service is not working...!!!");
        },
      });

    }
    });
  });
</script>
{% endblock %}
