{% extends 'Localisation_App/base.html' %}
{% block title %}Services{% endblock %}
{% load static %}

{% block servicesDemo %}
<div>
  <h4>Services Demo</h4>s

  <div style="margin-left:500px"><a href="{% url 'Localisation_App:srvTTS' %}">srvTTS</a>--------------------<a
      href="{% url 'Localisation_App:srvTransliteration' %}">srvTransliteration</a></div>
  <a href="{% url 'Localisation_App:goTranslate' %}">GoTranslate</a>

  {% if service == "srvTTS" %}
  <div
    style="max-width:800px; max-height:600px; margin-left:300px;margin-top:50px;margin-bottom:50px;">

    {% include 'Localisation_App/ttsService.html'%}
  </div>
  {% elif service == "srvTransliteration" %}
  <div>
    {% include 'Localisation_App/transliteration_modal.html'%}
  </div>



  {% elif service == "goTranslate" %}
  <div>
    {% include 'Localisation_App/gotranslate.html'%}
  </div>

  {% endif %}
</div>

{% endblock %}