{% extends 'Localisation_App/base.html' %}

{% load static %}

{% block successstory %}

<div>
  <h4 class="success-header">SUCCESS STORIES</h4>
</div>

<div class="container-fluid success-stories-1 ">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-lg-2 success-sidebar">

    
      <div class="success-sidebar-menu">
        <input class="form-control success-search mr-sm-2" type="search" placeholder="&#128270; Search" aria-label="Search">
        <div class="sidebar-title">
          Filter Categories
        </div>
        <ul>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Localization Deployment
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Startup Deployments
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Proof Of Concept / Demo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Archives
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Advanced Features
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              AP Success Stories
            </label>
          </div>

        </ul>
      </div>
    </div>

    <div class="col-sm-10 col-lg-10  ">

      <div class="row success-content-1">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-5 success-card-main">


          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-body">
            <h1 class="success-title-1">NPLT Portal <span><a href="https://nplt.in/">nplt.in/</a></span> </h1>
            <p class="card-text-1">
              National Platform for Language Technology (NPLT)
              platform for academia, researcher as well as industry to provide access to
              Indian Language Data, Tools and related web services. Localised in all the
              scheduled 22 Indian languages. National Platform for
              Language Technology (NPLT) platform for academia,
              researcher as well as industry to provide access to Indian Language Data, Tools
              and related web
            </p>

          </div>

        </div>

        <div class="col-xs-10 col-sm-10 col-lg-5 success-card-main ro ">


          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-body">
            <h1 class="success-title-1">NPLT Portal</h1>
            <p class="card-text-1">
              National Platform for Language Technology (NPLT)
              platform for academia, researcher as well as industry to provide access to
              Indian Language Data, Tools and related web services. Localised in all the
              scheduled 22 Indian languages. National Platform for
              Language Technology (NPLT) platform for academia,
              researcher as well as industry to provide access to Indian Language Data, Tools
              and related web
            </p>

          </div>

        </div>
      </div>

      <div class="row success-content-1">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-5 success-card-main">


          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-body">
            <h1 class="success-title-1">NPLT Portal <span><a href="https://nplt.in/">nplt.in/</a></span> </h1>
            <p class="card-text-1">
              National Platform for Language Technology (NPLT)
              platform for academia, researcher as well as industry to provide access to
              Indian Language Data, Tools and related web services. Localised in all the
              scheduled 22 Indian languages. National Platform for
              Language Technology (NPLT) platform for academia,
              researcher as well as industry to provide access to Indian Language Data, Tools
              and related web
            </p>

          </div>

        </div>

        <div class="col-xs-10  col-sm-10 col-lg-5 success-card-main ">


          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static './Localisation_App/img/Champ1.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-body">
            <h1 class="success-title-1">NPLT Portal</h1>
            <p class="card-text-1">
              National Platform for Language Technology (NPLT)
              platform for academia, researcher as well as industry to provide access to
              Indian Language Data, Tools and related web services. Localised in all the
              scheduled 22 Indian languages. National Platform for
              Language Technology (NPLT) platform for academia,
              researcher as well as industry to provide access to Indian Language Data, Tools
              and related web
            </p>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>





{% endblock %}