This notice and terms and conditions mentioned here pertains to C-DAC, Department of Electronics and Information Technology, Govt. of India, Data Centre Web site "www.localisation.gov.in" also known as "www.localization.gov.in" and "www.localisation.cdac.in" and all services refering to this site here after referred to as "this Web site".

All content of this Web site is owned or controlled by DeitY and is protected by worldwide copyright laws.

“This Web site” contains information, artwork, text, video, audio, software tools and technologies, documentation, services, etc used only for information and also for use by a valid download licence holder only. You must not modify or use the Materials for any other purpose without DeitY's express written consent. By using and/or downloading any Materials from DeitY's Web site, you will be deemed to agree to these terms:

Ownership of Materials
Software and Documentation Information
Enforcement of Intellectual Property Rights
Feedback and Information
Warranties and Disclaimers
Arbitrations
Updates
Ownership of Materials
The Materials contained in this site is copyrighted and must not be distributed, modified, reproduced in whole or in part or services consumed without the written consent of C-DAC prior to usage. Materials only for consumption by e-Governance developers/departments.

Software and Documentation Information

Documentation
DeitY provides documentation to explain how to use the resources available on this website. Any person is hereby authorized to:

store this documentation on a single computer for personal use only and
print copies of documentation for personal use only, provided that the documentation contains DeitY's copyright notice.
You may want to download a copy of the Materials and/or use services for your personal, noncommercial internal use only by getting the permission from DeitY . This is a personal license, and under no circumstances shall this license be construed as a transfer of title to any Materials found at this Site.

The license granted by DeitY herein is subject to the following restrictions: You must not: (a) modify the Materials or use them for any commercial purpose, or any public display, performance, sale or rental; (b) Decompile, reverse engineer, or disassemble software Materials except and only to the extent permitted by applicable law or specific license; (c) remove any copyright or other proprietary notices from the Materials; (d) transfer the Materials to another person; (e) use any such Materials on any other Web site or networked computer environment. You agree to prevent any unauthorized copying of the Materials. DeitY will terminate this license at any time if you are in breach of the terms of this Agreement. Upon termination, you will immediately destroy the Materials.

Third Party Companies and Products
Mention of some third-party products, companies and Web sites on the DeitY's Web site is only for informational purposes and constitutes neither an endorsement nor a recommendation, unless otherwise indicated. DeitY assumes no responsibility with regard to the selection, performance or use of these products or vendors. DeitY provides this only as a convenience to our users.

This is to inform you that the above mentioned third party products, companies and Web sites are independent of DeitY and DeitY has no control over the contents, selection, performance or use of such third party Web sites. A link to a other Web sites does not mean that DeitY endorses or accepts any responsibility for the content or use of such Web site.

Enforcement of Intellectual Property Rights

DeitY actively and aggressively enforces its intellectual property rights to the fullest extent of the law.

Feedback and Information
Any information and/or feedback you provide at this site shall be deemed to be non-confidential. DeitY shall be free to use such information on an unrestricted basis. DeitY will be free to copy, disclose, distribute, incorporate and otherwise use the submissions and all data, images, sound, text or other content embodied therein for any purposes it deems fit, commercial or noncommercial, without liability or compensation to any person or entity. (Also refer to DeitY Privacy Policy.)

The sender of any communications to the DeitY Web site or otherwise to the owners of this site shall be responsible for the content and information contained therein, including its truthfulness and accuracy.

Warranties and Disclaimers
DeitY intends that the information and data contained in the DeitY Data Centre Web site to be accurate and reliable, however, since the information and data have been compiled by DIT from a variety of sources, it is provided on "AS IS" basis.

Deity expressly disclaims, all warranties and/or conditions, expressed or implied, as to any matter whatsoever relating to or referenced by the deity web site, including, but not limited to, the implied warranties and/or conditions of merchantability or satisfactory quality and fitness for a particular purpose and non infringement.
In no event shall deity or its' licensors/suppliers be liable for any damages whatsoever (including, without limitation, damages for loss of profits, business interruption, loss of information) arising out of the use of or inability to use the materials, even if deity has been advised of the possibility of such damages.
Deity also does not warrant that the functions contained in the materials will be uninterrupted or error-free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or other harmful components.
You understand and agree that any materials downloaded or otherwise obtained through the use of the site is at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of materials.
Deity does not give any warranty regarding any goods or services obtained through the site or any transactions entered into through the site.
Under no circumstances shall deity be liable for any direct, indirect, incidental, punitive, special or consequential damages, resulting from:
The use or the inability to use the site
Messages received or transactions entered into through the site 
The materials in the site
Accuracy of services refering to this site
Any other matter related to teh site, even if MEITY has been advised of the possibility of such damages
because some jurisdictions prohibit the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply to you.

DeitY may provide access to DeitYs' international data and, therefore, may contain references or cross references to DeitY products, programs and services that are not announced in your country. Such reference does not imply that DeitY in your country intends to announce such products, programs or services.

Though all the efforts are made to convey accurate meaning while translating into target language, however, because of language specificity and understanding by human translators / vetter it may not be possible always

Arbitrations
This Web site is controlled by DeitY from its offices in New Delhi in the State of Delhi within the Union of India. Those who choose to access this Web site from other locations do so on their own initiative and are responsible for compliance with applicable local laws, if and to the extent that local laws are applicable. Any claim relating to the Materials shall be governed by the laws of the Union of India. Any dispute or difference arising for the use of this site or in the interpretation of this agreement/notice shall be referred to the the webmaster at DeitY . The decision of the webmaster shall be final and binding. In the event of a dispute, the jurisdiction for the settling shall be in the courts in Delhi, India only.


Indeminification
C-DAC and DeitY are indeminified from all cases arising out of quality of output (of services hosted / linked from the portal) , which has been done to the best of the ability. For all legal purposes ,only the copy of the content in original language holds true.

Updates
DeitY reserves the right to revise, change or modify these Terms at any time by updating this posting or by inserting legal notices located on particular pages at this Site. Please remember to visit this page from time to time to review any amendments to the above Terms and their effect on your use of this Site and the Materials contained therein. The information contained in this Web site is subject to change without notice

You choose to use the information and services by choice knowing and agreeing to the above.