{% extends 'Localisation_App/base.html' %}
{% block title %}Tools{% endblock %}
{% load static %}
{% block tools %}
<div class="container-fluid" >
	<input type="button" class="text-center rounded-5 px-5 tools-page-header" value="Tools" disabled />
	<div class="row tools-box"  >
		<div class="col-sm-12 col-lg-3"  >
			<div class="tools-sidebar-section">
				<form action={% url 'Localisation_App:toolsSearch' tools_title %} method="POST" enctype="multipart/form-data"> {% csrf_token %}
					<div class="row p-3">
						<div class="col-6"> {% if tools_title == 'none' %}
							<input class="form-control me-2" type="text" name="toolname" placeholder="Enter Words" aria-label="Enter Words" />{% else %}
							<input class="form-control me-2" type="text" name="toolname" value={{ tools_title }} placeholder="Search" aria-label="Search" />{% endif %} 
						</div>
						<div class="col-6">
							<input class="btn btn-primary tool-search-button" type="submit" style="background-color:#219EBC ;border-color:#219EBC; " value="Search" /> 
						</div>
						<hr style="margin-top: 20px;"> 
					</div>
				</form>
				<div class="category-tool-title">Categories</div>
				<form action={% url 'Localisation_App:tools' %} method="POST" enctype="multipart/form-data"> {% csrf_token %} {% if status_All_Checked == 'True' %}
					<ul> {% for categories in toolscategory %}
						<input class="tools-sidebar-item" type="checkbox" id="vehicle1" name="checkbox" value="{{ categories.pk }}" onclick=" ">{{ categories.Tools_CategoryType }}</input>
						</br> {% endfor %} </ul> {% else %}
					<ul> {% for categories in toolscategory %} {% if categories.Tools_Cat_Status %}
						<input class="tools-sidebar-item" type="checkbox" id="vehicle1" name="checkbox" value="{{ categories.pk }}" checked="checked">{{ categories.Tools_CategoryType }}</input>
						</br> {% else %}
						<input class="tools-sidebar-item" type="checkbox" id="vehicle1" name="checkbox" value="{{ categories.pk }}" onclick=" ">{{ categories.Tools_CategoryType }}</input>
						</br> {% endif %} {% endfor %} </ul> {% endif %}
					<div class="row">
						<div class="col-1"></div>
						<div class="col-5">
							<button class='btn btn-primary filter-button' style="background-color:#219EBC ;border-color:#219EBC" type="submit" value="Fetch">Filter</button>
				</form>
				</div>
				<div class="col-2">
					<form action={% url 'Localisation_App:toolsReset' %} method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<button class='btn btn-primary filter-button' style="background-color:#219EBC ;border-color:#219EBC" type="submit" value="Fetch">Reset</button>
					</form>
				</div>
				<hr style="width:350px;margin-left:18px;">
				<div class="col-4"></div>
				<p class="tools_Fetched_Record_Text">Records Fetched : {{ count }}</p>
				</div>
			</div>
		</div>

		<div class="col-9" >
			<div class="row "  > 
				{% for data in page.object_list %}
				{% if data.ToolsData_PublishedStatus != 'Unpublished' %}
				<div class="col-sm-12 col-lg-12 "  >
					<div class="tools-main-card-section">
						<div class="row">
							<div class="col-sm-12 col-lg-4"> <img src="{% static './Localisation_App/img/tools_image.png' %}" class="img-fluid tools-image" alt="..." />
								

								<div class="Total_downloads">Total Downloads : {{data.ToolsData_DownloadCounter }}</div>
								
								<div class="tools-size"> File Size : {{ data.ToolsData_fileSize}} </div> {% if data.ToolsData_UploadSupportDocument != '' %}
								<a style="text-decoration: none;color:white" href="/media/{{data.ToolsData_UploadSupportDocument}}" download>
									<div class="tools-section-button">Document</div>
								</a> {% endif %} {% if data.ToolsData_UploadToolCode != '' %}

                                
								<div class="tools-section-button">
									<button class="btn" onclick="location.href='{% url 'Localisation_App:toolsDownloadCounter' data.id %}' ">
									<a type="submit" style="text-decoration: none;color:white" href="/media/{{data.ToolsData_UploadToolCode}}" download>
										 Download</a>
								    </button>
								</div>
								
								
								
								{% endif %} </div>

							<div class="col-sm-12 col-lg-8">
								<div class="Heading">
									<h3 style="color: #023047;">{{ data.ToolsData_HeadingName }}</h3> </div>
										<div class="category-tool-slug-section">{% for d in data.get_ToolsData_slug_splited|slice:":5" %}
										<span class="category-tool-title-slug">{{ d }}</span>
										{% endfor %}</div>
								<hr/>
								<div class="Discription">
									<p> {{ data.ToolsData_Description|safe }} </p>
								</div>
								<div class="Updated_Date1">Category : {{ data.ToolsData_CategoryType }}</div>
								<div class="Updated_Date">Last Updated Date : {{data.ToolsData_LastUpdatedDate|date:"M d, Y"}}</div>
							</div>
						</div>
					</div>
				</div> 
				
				{% endif %}
				{% empty %}
				<img src="{% static './Localisation_App/img/nodata.png' %}" class="d-block w-50" /> 
				{% endfor %}
				<div class="section p-3 d-flex justify-content-center"> {% if Pagination_Type == 'All_Data' %}
					<div class="container">
						<div class="row" style="width:500px">
							<div class="col-md-12 offset-md-3">
								<p>Page:{{page.number}}/{{ page.paginator.num_pages}}</p>
								<nav aria-label="..." style="width:200px">
									<ul class="pagination" style="width:500px;">
										<li class="page-item"> {% if page.has_previous %} <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{page.previous_page_number}}" tabindex="-1">Previous</a> {% endif %} </li> {% for num_page in page.paginator.page_range %} {% if page.number == num_page %}
										<li class="page-item active"> <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{num_page}}">{{num_page}}<span
                          class="sr-only">(current)</span></a> </li> {% else %}
										<li class="page-item"> <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{num_page}}">{{num_page}}<span
                          class="sr-only">(current)</span></a> </li> {% endif %} {% endfor %}
										<li class="page-item"> {% if page.has_next %} <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{page.next_page_number}}">Next</a> {% endif %} </li>
									</ul>
								</nav>
							</div>
						</div>
					</div> {% elif Pagination_Type == 'Searched_Post' %}
					<div class="container">
						<div class="row">
							<div class=" col-lg-12 col-md-12 offset-md-3 ">
								<p>Page:{{page.number}}/{{ page.paginator.num_pages}}</p>
								<nav aria-label="...">
									<ul class="pagination">
										<li class="page-item"> {% if page.has_previous %} <a class="page-link" href="{% url 'Localisation_App:toolsSearch' tools_title %}?page={{page.previous_page_number}}" tabindex="-1">Previous</a> {% endif %} </li> {% for num_page in page.paginator.page_range %} {% if page.number == num_page %}
										<li class="page-item active"> <a class="page-link" href="{% url 'Localisation_App:toolsSearch' tools_title %}?page={{num_page}}">{{num_page}}<span
                        class="sr-only">(current)</span></a> </li> {% else %}
										<li class="page-item"> <a class="page-link" href="{% url 'Localisation_App:toolsSearch' tools_title %}?page={{num_page}}">{{num_page}}<span
                        class="sr-only">(current)</span></a> </li> {% endif %} {% endfor %}
										<li class="page-item"> {% if page.has_next %} <a class="page-link" href="{% url 'Localisation_App:toolsSearch' tools_title %}?page={{page.next_page_number}}">Next</a> {% endif %} </li>
									</ul>
								</nav>
							</div>
						</div>
					</div> {% elif Pagination_Type == 'Category_Post' %}
					<div class="container">
						<div class="row ">
							<div class="col-lg-12 col-md-12 offset-md-3">
								<p>Page:{{page.number}}/{{ page.paginator.num_pages}}</p>
								<nav aria-label="...">
									<ul class="pagination">
										<li class="page-item"> {% if page.has_previous %} <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{page.previous_page_number}}" tabindex="-1">Previous</a> {% endif %} </li> {% for num_page in page.paginator.page_range %} {% if page.number == num_page %}
										<li class="page-item active"> <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{num_page}}">{{num_page}}<span
                          class="sr-only">(current)</span></a> </li> {% else %}
										<li class="page-item"> <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{num_page}}">{{num_page}}<span
                          class="sr-only">(current)</span></a> </li> {% endif %} {% endfor %}
										<li class="page-item"> {% if page.has_next %} <a class="page-link" href="{% url 'Localisation_App:tools' %}?page={{page.next_page_number}}">Next</a> {% endif %} </li>
									</ul>
								</nav>
							</div>
						</div>
					</div> {% else %} No data {% endif %} </div>
			</div>
		</div>
	</div>
</div> {% endblock %}