{% load static %}

<nav
  class="navbar navbar-expand-lg bg-light sticky-top"
  style="
    background-color: #ffffff !important;
    box-shadow: 0px 0.5px 13px 1px rgb(230, 228, 228);
  "
>
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="{% url 'Localisation_App:Home' %}">
      <img
        src="{% static './Localisation_App/img/llogo.png' %}"
        class="d-block w-100"
        alt="..."
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a
            class="items"
            aria-current="page"
            href="{% url 'Localisation_App:Home' %}"
            >{{ topmenus.0 }}</a
          >
        </li>
        <li
          class="nav-item {% if request.path == '/aboutus/' %}active{% endif %}"
        >
          <a class="items" href="{% url 'Localisation_App:aboutus' %}"
            >{{ topmenus.1 }}</a
          >
        </li>

        <li
          class="nav-item dropdown {% if request.path == '/services/' or request.path == '/toolsPage/' or request.path == '/resourcesPage/' %}active{% endif %}"
        >
          <a
            class="nav-link dropdown-toggle items"
            style="padding: 0px"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Our Products
          </a>
          <ul
            class="dropdown-menu"
            style="padding-left: 12px"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li class="nav-item active">
              <a class="items" href="{% url 'Localisation_App:services' %}"
                >{{ topmenus.2 }}</a
              >
            </li>
            <li
              class="nav-item {% if request.path == '/toolsPage/' %}active{% endif %}"
            >
              <a class="items" href="{% url 'Localisation_App:toolsPage' %}"
                >{{ topmenus.3 }}</a
              >
            </li>
            <li
              class="nav-item {% if request.path == '/resourcesPage/' %}active{% endif %}"
            >
              <a class="items" href="{% url 'Localisation_App:resourcesPage' %}"
                >{{ topmenus.10 }}</a
              >
            </li>
          </ul>
        </li>

        <li
          class="nav-item {% if request.path == '/successstoryPage/' %}active{% endif %}"
        >
          <a class="items" href="{% url 'Localisation_App:successstoryPage' %}"
            >{{ topmenus.4 }}</a
          >
        </li>
        <li
          class="nav-item {% if request.path == '/dashboard/' %}active{% endif %}"
        >
          <a class="items" href="{% url 'Localisation_App:dashboard' %}"
            >{{ topmenus.12 }}</a
          >
        </li>
        <li class="nav-item {% if request.path == '/faqs/' %}active{% endif %}">
          <a class="items" href="{% url 'Localisation_App:faqs' %}"
            >{{ topmenus.5 }}</a
          >
        </li>
        <li
          class="nav-item {% if request.path == '/contactus/' %}active{% endif %}"
        >
          <a class="items" href="{% url 'Localisation_App:contactus' %}"
            >{{ topmenus.6 }}</a
          >
        </li>
        {% if not user.is_authenticated %}
        {% comment %} <li class="nav-item">
          <a class="items" href="{% url 'Localisation_App:register' %}">
            {{ topmenus.7 }}
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="items" href="{% url 'Localisation_App:login' %}"
            >{{ topmenus.8 }}</a
          >
        </li>
        {% else %} 

        <li
          class="nav-item dropdown {% if request.path == '/services/' or request.path == '/toolsPage/' or request.path == '/resourcesPage/' %}active{% endif %}"
        >
          <a
            class="nav-link dropdown-toggle items"
            style="padding: 0px"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{% static './Localisation_App/img/profileicon.png' %}"
              alt="..."
              class="Profile-link-img"
            />
          </a>

          <ul
            class="dropdown-menu"
            style="padding-left: 12px"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li
              class="nav-item {% if request.path == '/toolsPage/' %}active{% endif %}"
            >
              <a
                class="items"
                href="{% url 'Localisation_App:profile' user.id %}"
                >Profile</a
              >
            </li>
            <li class="nav-item active">
              <a class="items" href="{% url 'Localisation_App:logout' %}"
                >{{ topmenus.11 }}</a
              >
            </li>
          </ul>
          {% endif %}
        </li>
      </ul>

      <div class="nav-item animate__animated animate__pulse animate__infinite">
        <div class="quote">
          <a
            class="item-button"
            href="{% url 'Localisation_App:translation_quote' %}"
            >{{ topmenus.9 }}</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
