{% extends 'Localisation_App/base.html' %} 
{% block title %}Translation Quote Show{% endblock %}
 {% load static %}
  {% block translation_quote_show %} 

  {% comment %} css {% endcomment %}
<link
  href="{% static 'Localisation_App/css/translation_quote_show.css' %}"
  rel="stylesheet"
/>

<div class="container mb-5 mt-5">
  {% with translation_quote_data as data %}
  {% if data %}
  
    <div class="px-4 t-show-main">
      <h5 class="text-muted fs-4 fw-semibold my-2">Application Number : {{data.application_number}}</h5>
        <div class="row">
          <div class="col-sm-2">
           URL :
          </div>
          <div class="col-sm-8">{{data.url}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
           Language :
          </div>
          <div class="col-sm-8">
            {{data.language}}
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-2">
            Submission Date :
          </div>
          <div class="col-sm-8">
            {{data.submission_date}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Status :
          </div>
          <div class="col-sm-8">
           <strong class="{% if data.status == 'PENDING' %} text-danger {% else %} text-primary {% endif %}">{{data.status}}</strong>
          </div>
        </div>

        {% ifequal data.status 'INPROCESS' %}
        {% comment %} Admin Part {% endcomment %}
        <h2>Admin :</h2>
        Total Words : {{data.total_words}}
        <br>
        Total Cost : {{data.total_cost}}
        <br>
        User Name : {{user_details.userregistration_first_name}} {{user_details.userregistration_first_name}}
        {% else %}
        Nothing
        {% endifequal %}
      </div>
    </div>
  </div>

  {% else %}
  <div>
    No Record Found!
  </div>
  {% endif %}
  {% endwith %}
  
</div>

{% endblock %}