{% extends 'Localisation_App/base.html' %} 
{% block title %}Translation Quote Show{% endblock %}
 {% load static %}
  {% block translation_quote_show %} 

  {% comment %} css {% endcomment %}
{% comment %} <link
  href="{% static 'Localisation_App/css/translation_quote_show.css' %}"
  rel="stylesheet"
/> {% endcomment %}

<div class="container mb-5">
  {% if translation_quote_data %}
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-start">Application Number : {{translation_quote_data.application_number}}</h5>
      <div class="card-text">
        URL : {{translation_quote_data.url}}
        <br>
        Language : {{translation_quote_data.language}}
        <br>
        Domain : {{translation_quote_data.domain}}
        <br>
        Company Email : {{translation_quote_data.company_email}}
        <br>
        Submission Date : {{translation_quote_data.submission_date}}
        <br>
        Status : <strong>{{translation_quote_data.status}}</strong>
        <br>
        {% ifequal translation_quote_data.status 'INPROCESS' %}
        {% comment %} Admin Part {% endcomment %}


        <h2>Admin :</h2>
        Total Words : {{translation_quote_data.total_words}}
        <br>
        Total Cost : {{translation_quote_data.total_cost}}
        <br>
        User Name : {{user_details.userregistration_first_name}} {{user_details.userregistration_last_name}}
        {% else %}
        Nothing
        {% endifequal %}
      </div>
    </div>
  </div>

  {% else %}
  <div>
    No Record Found!
  </div>
  {% endif %}
  
</div>

{% endblock %}