{% extends 'Localisation_App/base.html' %} 
{% load static %} 
{% block translation_quote %}

{% comment %} css {% endcomment %}
<link
  href="{% static 'Localisation_App/css/translation_quote.css' %}"
  rel="stylesheet"
/>
{% comment %} ends css {% endcomment %}

<div class="container">
  <div class="text-center p-3">
    <input
      type="text"
      class="text-center rounded-5 t_quote-heading"
      value="Translation Quote"
      disabled
    />
  </div>
  <div class="card">
    <div class="card-body t_quote-card">

      <form action="{% url 'Localisation_App:translation_quote' %}" method="POST" >
        {% csrf_token %}
        <div class="mb-3">
        <label for="inputPassword5" class="form-label">URL</label>
        {{form.url}}
        </div>
        <div class="mb-3">
        <label for="inputPassword5" class="form-label">Language</label>
        {{form.language}} 
        </div>      
        <div class="mb-3">
        <label for="inputPassword5" class="form-label">Website Type</label>
        {{form.website_type}} 
        </div>      
        <div class="mb-3">
        <label for="inputPassword5" class="form-label">delivery Date</label>
        {{form.delivery_date}} 
        </div>   
        <input type="submit" value="Submit">  
      </form>
      {% if total_words %}
      <h5 class="text-primary">
        Estimated Words : {{total_words}}
      </h5>
      {% endif %} 
       {% if error_message %}
      <h5 class="text-danger">{{error_message}}</h5>
      {% endif %}
    </div>
  </div>
</div>
</div> 


{% comment %} OLD CODE STARTS {% endcomment %}

{% comment %} <div class="m-3">
  <div class="container">
    <div class="text-center p-3">
      <input
        type="text"
        class="text-center rounded-5 t_quote-heading"
        value="Translation Quote"
        disabled
      />
    </div>
    <div class="card">
      <div class="card-body t_quote-card">
        <h3>Count estimated words for a webpage</h3>
        <form
          action="{% url 'Localisation_App:translation_quote' %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="row g-3 align-items-center">
            <div class="col-1">
              <label class="col-form-label fw-semibold">Enter URL</label>
            </div>
            <div class="col-8">
              <input
                type="text"
                class="form-control"
                name="url"
                placeholder="Enter URL for the webpage"
              />
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-primary">Count Words</button>
            </div>
          </div>
        </form>
        {% if total_words %}
        <h5 class="text-primary">
          Estimated Words on http://sdns are {{total_words}}
        </h5>
        {% endif %} 
         {% if error_message %}
        <h5 class="text-danger">{{error_message}}</h5>
        {% endif %}
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% comment %} OLD CODE ENDS {% endcomment %}

{% endblock %}
