{% extends 'Localisation_App/base.html' %}
{% load static %}
{% block title %}TTS {% endblock %}
 {% block tts_service %}
<div class="container card mb-5">
<form action={% url 'Localisation_App:srvTTS' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="card-title text-dark">TTS</h2>
    <div class="card-body">
      <div class="row">
         <div class="row pb-2">
           <p style="background-color: #f5e8a8" class="py-2 rounded-3 px-4">
            Text-to-Speech (TTS) is a software which renders the machine readable text into Human Voice. The TTS software allows people with visual impairments or reading disabilities to listen to written works on a computer or a mobile device. Text to Speech system when integrated with screen reader would enable visually challenged users to interpret and perform computer operations with audio interface.
           </p>
          </div>
          <div class="row border rounded-2">
          <div class="row">
              <div class="col-lg-6 mb-4">
                 Select Language
                 {{TTS_Form.Select_Language_Pair}}
              </div>
     
              <div class="col-lg-6 mb-4">
                 Select Gender
                 {{TTS_Form.Gender}}
              </div>
          </div>
              <div class="row mb-4">
                <div class="col">
                {{TTS_Form.InputText}}
                </div>
              </div>
              {% if Status == "success" %}
                 <audio controls style="margin-top:20px; margin-left:240px;">
                    <source src={{outspeech_filepath}} type="audio/ogg">
                 </audio>
              {% endif %}<br />
                 <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
               <div class="text-center">
                 <button type="submit" class="text-white px-3 py-2 rounded-2 border-none" style="width: 100px; background-color:#219EBC; border:none;">Submit</button>
               </div>
              </div>
       </div>
    </div>
  </form>
</div>
{% endblock %}