
<div class="container-fluid">
    <div class="row">
      <div class="col-12" style="background-color: #f1f2f3">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
              <div class="carousel-inner-text">
                <h3 class="carousel-title">Localisation in</h3>
                <h3 class="carousel-subtitle-1">e-Governance</h3>
  
                <p class="carousel-caption-1">
                  भारतीय भाषाओं में उपकरण और प्रौद्योगिकी के लिए निरंतर प्रयासरत
                </p>
              </div>
            </div>
  
            <div class="carousel-item" data-bs-interval="4000">
              <div class="carousel-inner-text-2">
                <!-- <div class="text-center">Localisation in</div> -->
                <h3 class="carousel-title">Bhashini</h3>
                <h3 class="carousel-subtitle-2">
                  One Platform, Multiple Crowdsourcing
                </h3>
  
                <p class="carousel-caption-2">
                  भाषा की बाधाओं को पार करके सबके डिजिटल सशक्तिकरण की ओर
                </p>
              </div>
            </div>
  
            <div class="carousel-item" data-bs-interval="4000">
              <div class="carousel-inner-text-3">
                <!-- <div class="text-center">Localisation in</div> -->
                <h3 class="carousel-title">Translate Your Website</h3>
                <h3 class="carousel-subtitle-3">Estimate Quote</h3>
  
                <p class="carousel-caption-3">आपकी वेबसाइट आपकी भाषा में</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>