{% extends 'Localisation_App/base.html' %}
{% block title %}Accessibility Statements{% endblock %}
{% load static %} 
{% block accessibilitystatement %}

<!-- <title>Accessibility statement</title> -->

<link
  href="{% static 'Localisation_App/css/footer_links/accessibility_statement.css' %}"
  rel="stylesheet"
/>
<div class="access-main">
<div class="container main-container">
  <div class="text-center p-3">
    <input
      type="button"
      class="text-center rounded-5 px-5 access-heading"
      value="{{ content.Footer_Links_Title }}"
      disabled
    />
  </div>
  <!-- <h4 class="as-main-title">{{ content.Footer_Links_Title }}</h4> -->
  <div class="access-content">

    {{ content.Footer_Links_Content|safe }}
 
    
  </div>
 
</div>
</div>

{% endblock %}
