{% extends 'Localisation_App/base.html' %}
{% block title %}Help{% endblock %}
{% load static %}
{% block help %}

<link href="{% static 'Localisation_App/css/footer_links/help.css' %}" rel="stylesheet" />
<div class="help-main">
<div class="container-fluid main-container">
  <div class="text-center p-3">
    <input
      type="button"
      class="text-center rounded-5 px-5 help-heading"
      value="Help"
      disabled
    />
  </div>
  <div class="row main">
    <div class="col-3 first-section" >
      <nav class="help-navigation">
        <ul>
          
          {% for f_sub_data in footer_sub_data %}
          <li class="nav-item">
            <a  href="{% url 'Localisation_App:helpData' f_sub_data.id %}">{{f_sub_data.Footer_Links_Info_SubTitle}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="col-8 second-section"  style="background-color: #F2F2F2;">
      <!-- Sections of this Portal start from here -->

      


      {% if content %}
      <div id="sec1">
        <h4 class="help-title" >{{ content.Footer_Links_Info_SubTitle }}</h4>

        <div style="font-size: 20px;" > {{ content.Footer_Links_Info_SubContent|safe }}</div>
      </div>
      {% else %}
      <h1>No data found!</h1>
      {% endif %}

      <!-- Software to open zip files ends here -->
    </div>
  </div>
</div>
</div>
{% endblock%}
